<template lang="html">
  <Layout class="blog-post">
    <AnimatedHeading flipped tag="h1" :text="$page.post.title" />
    <p class="meta">{{!$page.post.published ? 'DRAFT · ' : ''}}Published {{$page.post.date}}{{$page.post.edited ? ` · Updated ${$page.post.edited}` : ''}} · {{$page.post.timeToRead}}min read</p>
    <article v-html="content" />
    <ul class="tags">
      <li v-for="tag in $page.post.tags" :key="tag.title"><g-link :to="tag.path">{{tag.title}}</g-link></li>
    </ul>
    <IntersectionGuard :threshold="0.1" @enter="logoPaused = false" @leave="logoPaused = true">
      <section class="related-posts">
        <Loader :infinite="false" :paused="logoPaused" />
        <nav>
          <template v-if="relatedPosts">
            <h3>Posts related to "{{relatedPosts.label}}"</h3>
            <PostCard v-for="post in relatedPosts.posts" :blurb="post.node.blurb" :date="post.node.date" :draft="!post.node.published" :excerpt="post.node.excerpt" :key="post.node.path" :path="post.node.path" :time-to-read="post.node.timeToRead" :title="post.node.title" />
          </template>
          <g-link class="back" to="/blog/">
            <p class="overline">Interested in reading more?</p>
            <p class="title">Back to all Posts</p>
          </g-link>
        </nav>
      </section>
    </IntersectionGuard>
  </Layout>
</template>

<script>
import AnimatedHeading from '@/components/AnimatedHeading.vue';
import IntersectionGuard from '@/components/IntersectionGuard.vue';
import Loader from '@/components/Loader.vue';
import PostCard from '@/components/PostCard.vue';

export default {
  components: {
    AnimatedHeading,
    IntersectionGuard,
    Loader,
    PostCard,
  },
  computed: {
    relatedPosts() {
      let related = null;
      for (let i = 0; i < this.$page.post.tags.length; i += 1) {
        if (this.$page.post.tags[i].belongsTo.edges.length > 0) {
          related = {
            label: this.$page.post.tags[i].title,
            posts: this.$page.post.tags[i].belongsTo.edges,
          };
          break;
        }
      }
      return related;
    },
  },
  created() {
    // HACK: to unwrap images
    this.content = this.$page.post.content.replace(/<p><img/g, '<figure><img').replace(/\/noscript><\/p>/g, '/noscript></figure>');
  },
  data() {
    return {
      content: null,
      logoPaused: true,
    };
  },
  metaInfo() {
    const meta = [
      {
        name: 'description',
        content: this.$page.post.blurb || this.$page.post.excerpt,
        key: 'description',
      },
      {
        property: 'og:title',
        content: `${this.$page.post.title} | ${this.$page.metadata.siteName}`,
        key: 'og:title',
      },
      {
        property: 'og:description',
        content: this.$page.post.blurb || this.$page.post.excerpt,
        key: 'og:description',
      },
      {
        property: 'og:url',
        content: `${this.$page.metadata.siteUrl}${this.$page.post.path}`,
        key: 'og:url',
      },
    ];

    if (this.$page.post.coverImage && this.$page.post.coverImage.src) {
      meta.push({
        property: 'og:image',
        content: `${this.$page.metadata.siteUrl}${this.$page.post.coverImage.src}`,
        key: 'og:image',
      });
      meta.push({
        name: 'twitter:card',
        content: 'summary_large_image',
        key: 'twitter:card',
      });
    }

    return {
      title: this.$page.post.title,
      meta,
    };
  },
  mounted() {
    import('medium-zoom').then((mediumZoom) => {
      mediumZoom.default('article figure > img', { margin: window.innerWidth > 632 ? 64 : 0, background: 'rgba(49,41,81,0.8)' });
    });
  },
};
</script>

<page-query>
query($id: ID!) {
  metadata {
    siteName,
    siteUrl
  },
  post: blogPost(id: $id) {
    coverImage(width: 1200, height: 630)
    path,
    content,
    blurb,
    excerpt,
    edited(format: "dddd, MMMM Do YYYY"),
    title,
    date(format: "dddd, MMMM Do YYYY"),
    timeToRead,
    published,
    tags {
      title,
      path,
      belongsTo(limit: 3, filter: {id: {ne: $id}}) {
        edges {
          node {
            ... on BlogPost {
              title,
              excerpt,
              blurb,
              date(format: "MMMM Do, YYYY"),
              timeToRead,
              path,
              published
            }
          }
        }
      }
    }
  }
}
</page-query>

<style lang="stylus">
@require '../assets/styles/breakpoints'
@require '../assets/styles/colors'

.blog-post
  .heading-wrapper
    margin: 6rem auto 8rem auto

    @media $bp-mobile
      margin-bottom: 4rem
      margin-top: 3rem

  .meta
    margin: 6rem auto
    font-size: 0.875rem
    opacity: 0.54
    text-align: center
    max-width: none
    padding: 0 1rem

    @media $bp-mobile
      margin: 2rem auto

  article
    margin-bottom: 2rem
    padding: 0 1rem

    h1, h2, h3, h4, h5, h6,
    blockquote, code, pre
      max-width: 37.5rem
      margin: 0 auto

    /* HACK: to make code blocks outside paragraphs behave */
    > code
      display: block
      padding: 1rem
      border-radius: 0.5rem
      margin: 1rem auto

    h1, h2
      font-size: 2rem
      margin-top: 5rem
      margin-bottom: 2rem

    h3
      font-size: 1.5rem
      margin-top: 3rem
      margin-bottom: 1rem

    h4, h5, h6
      font-size: 1.125rem
      margin-bottom: 1rem

    blockquote
      padding-left: 2rem
      position: relative
      margin-top: 2rem
      margin-bottom: 2rem

      &::before
        content: ''
        display: block
        background-color: $bg-darker
        width: 0.5rem
        height: 100%
        position: absolute
        left: 0
        top: 0

    figure
      margin: 4rem auto
      max-width: (1280 / 16)rem

      img
        display: block
        margin: 0 auto
        max-width: 100%

    p, li, blockquote
      > code
        background-color: $bg-darker
        font-weight: bold
        padding: 0.125rem 0.5rem
        border-radius: 0.25rem

    pre
      margin: 1rem auto
      padding: 1rem
      border-radius: 0.5rem
      overflow-x: auto

      &::-webkit-scrollbar
        height: 1rem

      &::-webkit-scrollbar-track
        background-color: transparent

      &::-webkit-scrollbar-thumb
        background-color: alpha($bg, 0.5)
        opacity: 0.5
        border: 0.25rem solid transparent
        background-clip: content-box
        border-radius: 0.5rem

        &:hover
          background-color: alpha($bg, 0.75)

  .tags
    list-style: none
    max-width: 37.5rem
    padding: 0
    margin: 0 auto
    margin-bottom: 8rem
    opacity: 0.54
    font-size: 1rem

    @media $bp-mobile
      padding: 0 1rem
      margin-bottom: 4rem

    li
      display: inline-block

      &:not(:last-child)
        margin-right: 1rem

      a
        color: inherit
        font-weight: normal

        &::before
          content: '#'

  .related-posts
    margin-bottom: 13.75rem
    padding: 0 1rem

    @media $bp-mobile
      margin-bottom: 6rem

    .loader
      height: 4rem
      margin: 0 auto 8rem auto

      @media $bp-mobile
        margin-bottom: 4rem
        height: 3rem

    nav
      text-align: left
      padding: 0

      h3
        font-size: 1.5rem
        text-transform: uppercase
        font-weight: 900
        letter-spacing: 0.12em
        max-width: 37.5rem
        margin: 0 auto 2rem auto
        text-align: center

        @media $bp-mobile
          font-size: 1.25rem

      a.back
        display: block
        max-width: 37.5rem
        margin: 0 auto
        background-color: $bg-darker
        color: $text
        padding: 2rem
        font-weight: 900

        &::after
          background-color: $accent-secondary

        p
          &.overline
            margin-bottom: 0
            font-size: 0.875rem
            opacity: 0.54
            text-transform: none
            letter-spacing: normal
            font-weight: normal

          &:last-child
            margin-bottom: 0

        &:not(:last-of-type)
          margin-bottom: 2rem
</style>
