<template lang="html">
  <main class="project">
    <section class="hero" :class="{ 'with-goal': $page.project.goal }">
      <g-image class="desktop-only" :src="$page.project.hero || ''" :alt="`Hero image for ${$page.project.title}`" />
      <g-image class="mobile-only" :src="$page.project.heroMobile || ''" :alt="`Hero image for ${$page.project.title}`" />
    </section>
    <SectionSeparator v-if="$page.project.goal" />
    <section v-if="$page.project.goal" class="goal">
      <p>goal</p>
      <blockquote>
        {{$page.project.goal}}
      </blockquote>
    </section>
    <SectionSeparator v-if="$page.project.goal" flipped />
    <AnimatedHeading flipped :text="$page.project.title" />
    <section class="info">
      <ul class="meta">
        <li>{{$page.project.date}}</li>
        <li>{{$page.project.type}}</li>
        <li>{{$page.project.status}}</li>
        <li v-if="$page.project.website"><a :href="$page.project.website" rel="noopener" target="_blank">Project Website</a></li>
      </ul>
      <article v-html="$page.project.details" />
      <ul class="tags">
        <li v-for="tag in $page.project.tags" :key="tag">{{tag}}</li>
      </ul>
    </section>
    <section class="blocks">
      <div v-for="(block, index) in $page.project.blocks" :key="index" class="block" :class="[block.template, {'full-width': block.template === 'full-width-image', 'reverse': block.template.includes('and-text') && !block.imageFirst && !block.embedFirst && !block.componentFirst }]">
        <figure v-if="block.image && !block.images">
          <g-image :src="block.image.src || ''" :alt="block.image.alt" :data-zoom-src="block.image.hqSrc && block.image.hqSrc.src || block.image.src || ''" />
          <figcaption v-if="block.image.caption" v-html="block.image.caption" />
        </figure>
        <EmbedBlock v-else-if="block.template.includes('embed')" :aspect-ratio="block.aspectRatio" :show-frame="block.showFrame" :src="block.src" />
        <ComponentBlock v-else-if="block.template.includes('component')" :aspect-ratio="block.aspectRatio" :name="block.name" />
        <template v-else>
          <figure v-for="(image, index) in block.images" :key="index">
            <g-image :src="image.src || ''" :alt="image.alt" :data-zoom-src="image.hqSrc && image.hqSrc.src || image.src || ''" />
            <figcaption v-if="image.caption" v-html="image.caption" />
          </figure>
        </template>
        <div v-if="block.text" class="text-wrapper">
          <p v-html="block.text" />
        </div>
      </div>
    </section>
    <IntersectionGuard :threshold="0.1" @enter="logoPaused = false" @leave="logoPaused = true">
      <section class="recovery">
        <Loader :infinite="false" :paused="logoPaused" />
        <nav>
          <g-link v-if="$page.prev" class="project" :to="$page.prev.path">
            <div class="image-wrapper">
              <g-image :src="$page.prev.thumbnail" :alt="`Thumbnail for ${$page.prev.title}`" />
            </div>
            <div class="info-wrapper">
              <p>Previous Project:</p>
              <h3>{{$page.prev.title}}</h3>
            </div>
          </g-link>
          <g-link v-if="$page.next" class="project" :to="$page.next.path">
            <div class="image-wrapper">
              <g-image :src="$page.next.thumbnail" :alt="`Thumbnail for ${$page.next.title}`" />
            </div>
            <div class="info-wrapper">
              <p>Next Project:</p>
              <h3>{{$page.next.title}}</h3>
            </div>
          </g-link>
        </nav>
      </section>
    </IntersectionGuard>
    <transition>
      <Loader v-show="zoomLoading" class="zoom-loader" no-color />
    </transition>
  </main>
</template>

<script>
import AnimatedHeading from '@/components/AnimatedHeading.vue';
import ComponentBlock from '@/components/ComponentBlock.vue';
import EmbedBlock from '@/components/EmbedBlock.vue';
import IntersectionGuard from '@/components/IntersectionGuard.vue';
import Loader from '@/components/Loader.vue';
import SectionSeparator from '@/components/SectionSeparator.vue';

export default {
  components: {
    AnimatedHeading,
    ComponentBlock,
    EmbedBlock,
    IntersectionGuard,
    Loader,
    SectionSeparator,
  },
  data() {
    return {
      logoPaused: true,
      zoomLoading: false,
      zoomLoadingTimeout: null,
    };
  },
  metaInfo() {
    return {
      title: this.$page.project.title,
      meta: [
        {
          property: 'og:title',
          content: `${this.$page.project.title} | ${this.$page.metadata.siteName}`,
          key: 'og:title',
        },
        {
          property: 'og:image',
          content: `${this.$page.metadata.siteUrl}${this.$page.project.twitterImage.src}`,
          key: 'og:image',
        },
        {
          property: 'og:description',
          content: `${this.$page.project.details.substring(0, 199).replace(/<[^>]*>/g, '')}…`,
          key: 'og:description',
        },
        {
          name: 'description',
          content: `${this.$page.project.details.substring(0, 199).replace(/<[^>]*>/g, '')}…`,
          key: 'description',
        },
        {
          property: 'og:url',
          content: `${this.$page.metadata.siteUrl}${this.$page.project.path}`,
          key: 'og:url',
        },
        {
          name: 'twitter:card',
          content: 'summary_large_image',
          key: 'twitter:card',
        },
      ],
    };
  },
  methods: {
    toggleZoomLoader() {
      if (this.zoomLoading || this.zoomLoadingTimeout) {
        window.clearTimeout(this.zoomLoadingTimeout);
        this.zoomLoadingTimeout = null;
        this.zoomLoading = false;
      } else {
        this.zoomLoadingTimeout = window.setTimeout(() => { this.zoomLoading = true; }, 500);
      }
    },
  },
  mounted() {
    import('medium-zoom').then((mediumZoom) => {
      const zoom = mediumZoom.default('.block:not(.full-width) figure > img', { margin: window.innerWidth > 632 ? 64 : 0, background: 'rgba(49,41,81,0.8)' });
      zoom.on('open', this.toggleZoomLoader);
      zoom.on('opened', this.toggleZoomLoader);
    });
  },
};
</script>

<page-query>
query ($id: ID!, $prevId: ID, $nextId: ID) {
  metadata {
    siteName,
    siteUrl
  },
  project(id: $id) {
    path,
    title,
    hero(quality: 90),
    heroMobile: hero(quality: 90, width: 600, height: 512)
    twitterImage: hero(width: 1200, height: 630)
    goal,
    date(format: "MMMM YYYY"),
    type,
    status,
    website,
    tags,
    details,
    blocks {
      template,
      ...on FullWidthImageBlock {
        image {
          src(quality: 100, width: 2600),
          caption,
          alt
        }
      }
      ...on SingleImageBlock {
        image {
          src(quality: 100, width: 1328),
          hqSrc: src(quality: 100),
          caption,
          alt
        }
      }
      ...on ImageAndTextBlock {
        imageFirst,
        text,
        image {
          src(quality: 100, width: 632),
          hqSrc: src(quality: 100),
          caption,
          alt
        }
      }
      ...on TwoImageBlock {
        images {
          src(quality: 100, width: 632),
          hqSrc: src(quality: 100),
          caption,
          alt
        }
      }
      ...on ThreeImageBlock {
        images {
          src(quality: 100, width: 400),
          hqSrc: src(quality: 100),
          caption,
          alt
        }
      }
      ...on EmbedBlock {
        aspectRatio
        src
        showFrame
      }
      ...on EmbedAndTextBlock {
        aspectRatio
        src
        text
        embedFirst
        showFrame
      }
      ...on ComponentBlock {
        name
        aspectRatio
      }
      ...on ComponentAndTextBlock {
        name
        aspectRatio
        text
        componentFirst
      }
    },
  }
  prev: project(id: $prevId) {
    title,
    thumbnail(quality: 70, width: 256, height: 192),
    path
  }
  next: project(id: $nextId) {
    title,
    thumbnail(quality: 70, width: 256, height: 192),
    path
  }
}
</page-query>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'
@require '../assets/styles/colors'

.project
  .hero
    &.with-goal
      margin-bottom: -8rem

    img,
    > noscript >>> img
      display: block
      margin: 0 auto
      width: 100%
      max-width: 100%
      height: 100%

      &[src*=svg]
        @media $bp-mobile
          height: (320 / 16)rem
          object-fit: cover

  .goal
    // workaround for fixing pixel gaps
    position: relative
    z-index: 1
    margin: -1px 0
    // end workaround
    text-align: center
    color: $bg
    background-color: $text
    padding: 13.75rem 2rem

    @media $bp-mobile
      padding: 4rem 2rem

    p
      color: $accent-primary
      text-transform: uppercase
      font-weight: 900
      letter-spacing: 0.12em

    blockquote
      padding: 0
      font-size: 3rem
      font-weight: 900
      text-transform: uppercase
      line-height: 161.8%
      letter-spacing: 0.12em
      max-width: 81rem
      margin: 0 auto

      @media $bp-mobile
        font-size: 1.25rem

  .heading-wrapper
    margin-top: 13.75rem

    @media $bp-mobile
      margin-top: 4rem

  .info
    margin: 13.75rem 0
    padding: 0 1rem

    @media $bp-mobile
      margin: 4rem 0

    .meta
      position: absolute
      left: calc(50% - 20.75rem)
      transform: translateX(-100%)
      list-style: none
      padding: 0
      margin: 0
      text-align: right
      font-size: 1.125rem
      font-weight: bold
      line-height: 178%
      text-transform: capitalize

      @media only screen and (max-width: 77rem)
        position: static
        transform: none
        text-align: left
        max-width: 37.5rem
        margin: 0 auto 2rem auto

        li
          display: inline-block

          &:not(:last-child)::after
            content: '·'
            margin: 0 0.25rem

    article
      margin-bottom: 2rem

    .tags
      list-style: none
      max-width: 37.5rem
      padding: 0
      margin: 0 auto
      opacity: 0.54
      font-size: 1rem

      li
        display: inline-block

        &:not(:last-child)
          margin-right: 1rem

        &::before
          content: '#'
  .blocks
    margin-bottom: 8rem

    @media $bp-mobile
      margin-bottom: 6rem

    .block
      display: flex
      align-items: center
      justify-content: space-around
      margin: 13.75rem auto

      @media $bp-mobile
        margin: 8rem 1rem
        display: block

      &:first-child
        margin-top: 0

      &:not(.full-width)
        max-width: 83rem
        max-width: 87rem

        @media $bp-desktop
          padding: 0 2rem

      &.full-width
        margin: 13.75rem 0

        @media $bp-mobile
          margin: 4rem 0

        figure
          width: 100%

          img,
          > noscript >>> img
            width: 100%
            min-height: 16rem
            object-fit: cover

      &.single-image:not(.full-width),
      &.two-images,
      &.three-images,
      &.embed,
      &.component
        margin: 4rem auto

      &.two-images,
      &.three-images
        figure
          width: 100%

          @media $bp-mobile
            margin-right: 0
            margin-bottom: 2rem

          &:not(:last-child)
            margin-right: 4rem

      &.image-and-text
        &.reverse
          flex-direction: row-reverse

          figure
            margin-left: 4rem
            margin-right: 0

            @media $bp-mobile
              margin-left: 0
              margin-bottom: 2rem

          .text-wrapper p
            margin-right: 0
            margin-left: auto

            @media $bp-mobile
              margin-left: 0

        figure
          margin-right: 4rem
          width: 100%

          @media $bp-mobile
            margin-right: 0
            margin-bottom: 2rem

        .text-wrapper
          width: 100%
          display: flex

          p
            margin-bottom: 0
            margin-left: 0

      figure
        margin: 0
        text-align: center

        img,
        > noscript >>> img
          display: block
          margin: 0 auto
          max-width: 100%

        figcaption
          margin-top: 0.5rem
          padding: 0 1rem

      &.embed-and-text,
      &.component-and-text
        &.reverse
          flex-direction: row-reverse

          .embed-block,
          .component-block
            margin-left: 4rem
            margin-right: 0

            @media $bp-mobile
              margin-left: 0
              margin-bottom: 2rem

          .text-wrapper p
            margin-right: 0
            margin-left: auto

            @media $bp-mobile
              margin-left: 0

        .embed-block,
        .component-block
          margin-right: 4rem
          width: 100%

          @media $bp-mobile
            margin-right: 0
            margin-bottom: 2rem

        .text-wrapper
          width: 100%

          p
            margin-bottom: 0

  .recovery
    .loader
      height: 4rem
      margin: 0 auto 8rem auto

      @media $bp-mobile
        height: 3rem
        margin-bottom: 4rem

    nav
      max-width: 83rem
      padding: 0 1rem
      margin: 0 auto 13.75rem auto
      display: flex
      justify-content: space-between
      flex-wrap: wrap;

      @media $bp-mobile
        display: block
        margin-bottom: 6rem

      a.project
        display: flex
        align-items: center
        padding: 0
        max-width: 37.5rem
        width: 100%
        font-weight: normal
        letter-spacing: normal
        background-color: $bg-darker
        color: $text

        @media only screen and (max-width: 77rem)
          margin: 0 auto

          &:not(:last-child)
            margin-bottom: 2rem

        &:only-child
          margin: 0 auto

        &:nth-child(even)
          flex-direction: row-reverse

          .image-wrapper,
          .info-wrapper
            margin-right: 0
            margin-left: 2rem

            @media $bp-mobile
              margin-left: 1rem

        &::after
          background-color: $accent-secondary

        .image-wrapper
          width: 16rem
          position: relative
          overflow: hidden
          border-radius: 1.5rem
          margin-right: 2rem
          flex-shrink: 0

          @media $bp-mobile
            width: 33%
            align-self: stretch
            margin-right: 1rem

          &::before
            content: ''
            display: block
            padding-top: 75%

            @media $bp-mobile
              content: none

          img
          > noscript >>> img
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            object-fit: cover

            @media $bp-mobile
              position: static

        .info-wrapper
          margin-right: 2rem
          width: 100%

          @media $bp-mobile
            padding: 1rem 0
            margin-right: 1rem

          p
            font-size: 1rem
            margin-bottom: 0.5rem
            text-transform: none

            @media $bp-mobile
              margin-bottom: 0

          h3
            margin: 0
            font-size: 1.5rem
            letter-spacing: 0.12em
            font-weight: 900

            @media $bp-mobile
              font-size: 1rem

  .zoom-loader
    position: fixed
    bottom: 2rem
    right: 2rem
    height: 4rem
    z-index: 2

    @media $bp-mobile
      bottom: 1rem
      right: 1rem
      height: 2rem

    &.v-leave-active
      transition: opacity 200ms ease

      &.v-leave-to
        opacity: 0

</style>
