<template lang="html">
  <Layout class="tag-page">
    <h2>Posts Tagged:</h2>
    <AnimatedHeading flipped tag="h1" :text="`#${$page.tag.title}`" />
    <nav class="posts">
      <PostCard v-for="post in loadedPosts" :blurb="post.node.blurb" :date="post.node.date" :draft="!post.node.published" :excerpt="post.node.excerpt" :key="post.node.path" :path="post.node.path" :time-to-read="post.node.timeToRead" :title="post.node.title" />
      <IntersectionGuard v-if="currentPage < pageInfo.totalPages" root-margin="0px 0px 100px 0px" @enter="fetchNextPage">
        <a href="#" @click="fetchNextPage">Load More</a>
      </IntersectionGuard>
    </nav>
    <noscript>
      <nav class="pager">
        <g-link v-if="pageInfo.currentPage > 1" :to="prevPage">Previous page</g-link>
        <span>Page {{pageInfo.currentPage}} of {{pageInfo.totalPages}}</span>
        <g-link v-if="pageInfo.currentPage < pageInfo.totalPages" :to="nextPage">Next page</g-link>
      </nav>
    </noscript>
    <section class="recovery">
      <p><strong>Did you not find what you were looking for?</strong> Check out <g-link class="all-posts" to="/blog">all posts</g-link>.</p>
    </section>
  </Layout>
</template>

<script>

import AnimatedHeading from '@/components/AnimatedHeading.vue';
import IntersectionGuard from '@/components/IntersectionGuard.vue';
import PostCard from '@/components/PostCard.vue';

export default {
  components: {
    AnimatedHeading,
    IntersectionGuard,
    PostCard,
  },
  computed: {
    nextPage() {
      return `${this.$page.tag.path}/${this.pageInfo.currentPage + 1}`;
    },
    pageInfo() {
      return this.$page.tag.belongsTo.pageInfo;
    },
    posts() {
      return this.$page.tag.belongsTo.edges;
    },
    prevPage() {
      if (this.pageInfo.currentPage > 2) return `${this.$page.tag.path}/${this.pageInfo.currentPage - 1}`;
      return this.$page.tag.path;
    },
  },
  created() {
    this.loadedPosts.push(...this.$page.tag.belongsTo.edges);
    this.currentPage = this.pageInfo.currentPage;
  },
  data() {
    return {
      currentPage: 1,
      loadedPosts: [],
    };
  },
  metaInfo() {
    return {
      title: `Posts tagged “${this.$page.tag.title}”`,
    };
  },
  methods: {
    async fetchNextPage() {
      try {
        const { data } = await this.$fetch(`${this.$page.tag.path}${this.currentPage + 1}`);
        this.loadedPosts.push(...data.tag.belongsTo.edges);
        this.currentPage += 1;
      } catch (err) {
        if (process.env.NODE_ENV === 'development') console.error(err); // eslint-disable-line no-console
        // do nothing
      }
    },
  },
};
</script>

<page-query>
query($id: ID!, $page: Int) {
  tag(id: $id) {
    title,
    path,
    belongsTo(perPage: 10, page: $page) @paginate {
      pageInfo {
        totalPages,
        currentPage
      }
      edges {
        node {
          ... on BlogPost {
            title,
            path,
            timeToRead,
            date(format: "MMMM Do, YYYY"),
            blurb,
            excerpt,
            published
          }
        }
      }
    }
  }
}
</page-query>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'

.tag-page
  h2
    text-align: center
    margin-top: 6rem
    margin-bottom: 4rem
    text-transform: uppercase
    font-weight: 900
    letter-spacing: 0.12em

    @media $bp-mobile
      margin-top: 2rem
      margin-bottom: 2rem
      font-size: 1rem

  .posts
    text-align: center
    padding-left: 1rem
    padding-right: 1rem

  .pager
    text-align: center

    span
      display: inline-block
      margin: 1rem 2rem

  .recovery
    margin-top: 2rem
    margin-bottom: 13.75rem
    padding: 0 1rem

    @media $bp-mobile
      margin-bottom: 6rem
</style>
