<template lang="html">
  <Layout class="four-oh-four">
    <AnimatedHeading flipped text="Four-Oh-Four" tag="h1" />
    <p>Dang it! <strong>That’s a 404, sorry.</strong> Whatever you were looking for was either moved, or never existed in the first place.</p>
    <p>But hey, you can always go back <g-link to="/">home</g-link>, right?</p>
  </Layout>
</template>

<script>
import AnimatedHeading from '@/components/AnimatedHeading.vue';

export default {
  components: {
    AnimatedHeading,
  },
  metaInfo: {
    title: 'Page not found',
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'

.four-oh-four
  >>> main
    padding: 0 1rem

  .heading-wrapper
    max-width: 37.5rem
    margin: 8rem auto

    @media $bp-mobile
      margin: 4rem auto

  p
    &:last-of-type
      margin-bottom: 13.75rem

      @media $bp-mobile
        margin-bottom: 6rem
</style>
