<template lang="html">
  <Layout class="apps">
    <section class="intro">
      <AnimatedHeading flipped tag="h1" text="My Apps" />
      <p class="description">
        Over the years, I’ve created and published a number of progressive web applications.
        I have collected them here for easy access. Some of them might also be
        featured as projects in my <g-link to="/">Portfolio</g-link>, if you’d
        like to learn more about them and the process involved in their creation.
      </p>
    </section>
    <div class="appgrid">
      <section v-for="app in apps" class="app" :key="app.id">
        <div class="app-card">
          <div class="icon-container" :style="{ backgroundColor: app.backgroundColor === '#ffffff' ? '#eef1f5' : app.backgroundColor }">
            <img :crossorigin="app.useCors ? 'anonymous' : null" :src="app.icon" :alt="`App-icon for ${app.name}`">
          </div>
          <div class="meta">
            <h2>{{app.name}}</h2>
            <p>{{app.description || 'No description.'}}</p>
            <a class="button" :href="app.url" rel="nofollow noreferrer noopener" :style="{ backgroundColor: app.themeColor }" target="_blank">Open App</a>
          </div>
        </div>
      </section>
    </div>
  </Layout>
</template>

<script>
import AnimatedHeading from '@/components/AnimatedHeading.vue';

export default {
  components: {
    AnimatedHeading,
  },
  computed: {
    apps() {
      const apps = this.$page.data.edges.reduce((acc, edge) => {
        const app = edge.node;

        const singleIcon = app.icons.find((icon) => icon.sizes.includes('192x192') && icon.purpose !== 'maskable');
        const iconPath = `${app.url}/${singleIcon.src.replace(/$\./, '')}`;
        app.icon = iconPath;

        if (app.description && !app.description.endsWith('.') && !app.description.endsWith('!') && !app.description.endsWith('?')) app.description = `${app.description}.`;

        acc.push(app);
        return acc;
      }, []);
      return apps;
    },
  },
  metaInfo: {
    title: 'Apps',
  },
};
</script>

<page-query>
query {
  data: allApp(order: ASC) {
    edges {
      node {
        id,
        url,
        name,
        icons {
          purpose,
          sizes,
          src
        },
        backgroundColor,
        themeColor,
        description,
        useCors
      }
    }
  }
}
</page-query>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'
@require '../assets/styles/colors'

.apps
  >>> main
    margin-bottom: -8rem

  .intro
    padding: 0 1rem

    .heading-wrapper
      margin-top: 8rem

      @media $bp-mobile
        margin-top: 4rem

    .description
      margin-bottom: 8rem
      text-align: center

      @media $bp-mobile
        margin-bottom: 4rem

  .appgrid
    display: grid
    max-width: 100rem
    margin: 0 auto
    margin-bottom: 24rem
    grid-template-columns: repeat(2, 1fr)
    position: relative

    @media only screen and (max-width: 1280px)
      display: block
      margin-bottom: 8rem

    &::before
      content: ''
      position: absolute
      top: 12rem
      right: 0
      bottom: 0
      left: @right
      background-color: $bg-darker
      border-radius: (3 / 16)rem

      @media only screen and (max-width: 1280px)
        bottom: -8rem

    .app
      padding: 6rem 1rem
      position: relative
      pointer-events: none

      &:nth-child(even)
        .app-card
          transform: translateY(50%)

          @media only screen and (max-width: 1280px)
            transform: none

      @media $bp-mobile
        padding: 2rem 1rem

      .app-card
        pointer-events: auto
        background-color: white
        height: 100%
        max-width: 37.5rem
        margin: 0 auto
        border-radius: 1.5rem
        overflow: hidden
        display: flex
        box-shadow:
          0 0 0 2px white,
          0 1.3px 2.2px -12px alpha($text, 0.017),
          0 3.2px 5.3px -12px alpha($text, 0.024),
          0 6px 10px -12px alpha($text, 0.03),
          0 10.7px 17.9px -12px alpha($text, 0.036),
          0 20.1px 33.4px -12px alpha($text, 0.043),
          0 48px 80px -12px alpha($text, 0.06)

        @media $bp-mobile
          display: block

        .icon-container
          padding: 2rem
          padding-right: 8rem
          clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%)

          @media $bp-mobile
            padding: 1rem
            padding-bottom: 2rem
            clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%)

          img
            width: 8rem
            height: @width

            @media $bp-mobile
              width: 4rem
              height: @width

        .meta
          width: 100%
          padding: 2rem
          display: flex
          flex-direction: column

          @media $bp-mobile
            padding: 1rem

          p
            margin-left: 0
            margin-right: 0
            margin-bottom: 2rem

          h2
            margin-top: 0
            font-size: 2rem

            @media $bp-mobile
              font-size: 1.5rem

          .button
            color: white
            padding: 1.125rem 2rem
            margin-top: auto
            margin-left: auto
            display: inline-block
            border-radius: 1.5rem
            position: relative
            transform-style: preserve-3d
            perspective: 1000px // fix flicker in firefox
            backface-visibility: hidden
            transition: transform 200ms ease

            @media $bp-mobile
              margin-top: 1rem

            &::after
              content: ''
              display: block
              background-color: $accent-primary
              border-radius: inherit
              position: absolute
              top: 1px
              left: 1px
              right: 1px
              bottom: 1px
              width: calc(100% - 2px)
              height: @width
              transform: translate3d(0, 0, -1px)

            &:hover,
            &:focus
              color: $bg
              transform: translate(-1rem, -1rem)

              &::after
                transform: translate3d(1rem, 1rem, -1px)

</style>
