<template lang="html">
  <Layout class="blog">
    <section class="intro">
      <AnimatedHeading flipped tag="h1" text="Blog" />
      <p class="description"><strong>Welcome to my blog!</strong> This is the place for my thoughts on various topics surrounding design and technology.</p>
    </section>
    <nav class="posts" :class="{ even: loadedPosts.length % 2 === 0 }">
      <PostCard v-for="post in loadedPosts" :blurb="post.node.blurb" :date="post.node.date" :draft="!post.node.published" :excerpt="post.node.excerpt" :key="post.node.path" :path="post.node.path" :time-to-read="post.node.timeToRead" :title="post.node.title" />
      <IntersectionGuard v-if="currentPage < pageInfo.totalPages" root-margin="0px 0px 100px 0px" @enter="fetchNextPage">
        <a class="load-more" href="#" @click="fetchNextPage">Load More</a>
      </IntersectionGuard>
    </nav>
    <noscript>
      <nav class="pager">
        <g-link v-if="pageInfo.currentPage > 1" :to="prevPage">Previous page</g-link>
        <span>Page {{pageInfo.currentPage}} of {{pageInfo.totalPages}}</span>
        <g-link v-if="pageInfo.currentPage < pageInfo.totalPages" :to="nextPage">Next page</g-link>
      </nav>
    </noscript>
  </Layout>
</template>

<script>
import AnimatedHeading from '@/components/AnimatedHeading.vue';
import IntersectionGuard from '@/components/IntersectionGuard.vue';
import PostCard from '@/components/PostCard.vue';

export default {
  components: {
    AnimatedHeading,
    IntersectionGuard,
    PostCard,
  },
  computed: {
    nextPage() {
      return `/blog/${this.pageInfo.currentPage + 1}`;
    },
    pageInfo() {
      return this.$page.posts.pageInfo;
    },
    prevPage() {
      if (this.pageInfo.currentPage > 2) return `/blog/${this.pageInfo.currentPage - 1}`;
      return '/blog/';
    },
  },
  created() {
    this.loadedPosts.push(...this.$page.posts.edges);
    this.currentPage = this.pageInfo.currentPage;
  },
  data() {
    return {
      currentPage: 1,
      loadedPosts: [],
    };
  },
  metaInfo() {
    return {
      title: 'Blog',
      meta: [
        {
          name: 'description',
          content: 'This is the place for my thoughts on various topics surrounding design and technology.',
          key: 'description',
        },
        {
          property: 'og:title',
          content: `Blog | ${this.$page.metadata.siteName}`,
        },
        {
          property: 'og:description',
          content: 'This is the place for my thoughts on various topics surrounding design and technology.',
          key: 'og:description',
        },
        {
          property: 'og:url',
          content: `${this.$page.metadata.siteUrl}/blog/`,
          key: 'og:url',
        },
      ],
      link: [
        {
          rel: 'alternate',
          type: 'application/rss+xml',
          title: 'Amadeus Maximilan’s Blog',
          href: 'https://amxmln.com/rss.xml',
        },
      ],
    };
  },
  methods: {
    async fetchNextPage() {
      try {
        const { data } = await this.$fetch(`/blog/${this.currentPage + 1}`);
        this.loadedPosts.push(...data.posts.edges);
        this.currentPage += 1;
      } catch (err) {
        if (process.env.NODE_ENV === 'development') console.error(err); // eslint-disable-line no-console
        // do nothing
      }
    },
  },
};
</script>

<page-query>
query($page: Int) {
  metadata {
    siteName,
    siteUrl
  },
  posts: allBlogPost(perPage: 10, page: $page) @paginate {
    pageInfo {
      totalPages,
      currentPage
    }
    edges {
      node {
        title,
        excerpt,
        blurb,
        path,
        timeToRead,
        published,
        date(format: "MMMM Do, YYYY")
      }
    }
  }
}
</page-query>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'
@require '../assets/styles/colors'

.blog
  >>> main
    margin-bottom: 13.75rem

    @media $bp-mobile
      margin-bottom: 6rem

  .intro
    padding: 0 1rem

    .heading-wrapper
      margin-top: 8rem

      @media $bp-mobile
        margin-top: 4rem

    .description
      margin-bottom: 12rem

      @media only screen and (max-width: (37.5 * 2 + 6)rem)
        margin-bottom: 4rem

  .posts
    max-width: 83rem
    margin: 0 auto
    padding: 0 1rem
    display: flex
    flex-direction: column
    position: relative

    &.even::before
      bottom: 2rem

    &::before
      content: ''
      position: absolute
      top: 6rem
      left: -2rem
      right: @left
      bottom: @top
      background-color: alpha($accent-primary, 0.2)
      border-radius: (3 / 16)rem

      @media only screen and (max-width: (83 + 4)rem)
        left: 0
        right: 0

    .post-card
      margin: 0
      position: relative
      background-color: white
      box-shadow:
        0 1.3px 2.2px -12px alpha($text, 0.017),
        0 3.2px 5.3px -12px alpha($text, 0.024),
        0 6px 10px -12px alpha($text, 0.03),
        0 10.7px 17.9px -12px alpha($text, 0.036),
        0 20.1px 33.4px -12px alpha($text, 0.043),
        0 48px 80px -12px alpha($text, 0.06)

      @media only screen and (max-width: (37.5 * 2 + 6)rem)
        margin: 0 auto

        &:not(:last-of-type)
          margin-bottom: 2rem

      &:nth-child(even)
        margin-left: auto
        margin-right: 0
        margin-bottom: -3rem
        margin-top: @margin-bottom

        @media only screen and (max-width: (37.5 * 2 + 6)rem)
          margin: 0 auto

          &:not(:last-of-type)
            margin-bottom: 2rem

    .load-more
      margin: 4rem auto

  .pager
    text-align: center

    span
      display: inline-block
      margin: 1rem 2rem
</style>
