<template>
  <main class="home">
    <div class="logo-wrapper mobile-only">
      <div class="header">
        <div class="window-button" />
        <div class="window-button" />
        <div class="window-button" />
      </div>
      <AnimatedLogo />
      <h1>
        <span>UI</span>
        <span>UX</span>
        <span>Web</span>
        <span>Graphic</span>
        <br />
        Designer + Developer
      </h1>
      <p>from Munich, Germany</p>
    </div>
    <nav>
      <g-link to="/blog/">Blog</g-link>
      <g-link to="/apps/">Apps</g-link>
      <a href="#contact">Contact</a>
    </nav>
    <FloatingCard header>
      <div class="logo-wrapper">
        <AnimatedLogo />
        <h1>
          <span>UI</span>
          <span>UX</span>
          <span>Web</span>
          <span>Graphic</span>
          Designer + Developer
        </h1>
        <p>from Munich, Germany</p>
      </div>
    </FloatingCard>
    <SectionSeparator />
    <section class="projects">
      <AnimatedHeading text="Selected Projects" />
      <p>This is a collection of selected personal and professional projects I’ve worked on over the past years.</p>
      <div class="projects-wrapper">
        <ProjectCard v-for="project in $page.projects.edges" :key="project.node.path" :path="project.node.path" :tags="project.node.tags" :thumbnail="project.node.thumbnail" :title="project.node.title" />
      </div>
    </section>
    <SectionSeparator flipped />
    <section class="about">
      <AnimatedHeading flipped text="Hello there!" />
      <div class="bio-wrapper">
        <g-image src="../assets/images/avatar.png" alt="A picture of me" width="1200" />
        <div class="bio">
          <p>I’m Amadeus Maximilian Stadler, a designer and developer from Munich, Germany. I’ve always loved design and software development, so after obtaining my first BA degree in English Linguistics and Computer Science in 2017, I also formally studied Design and got another BA degree in it in 2021.</p>
          <p>I specialise in UI and web design, but I have a vested interest in both UX and graphic design as well. I’m proficient in many web technologies and have developed desktop applications as well as several progressive webapps and regular websites. I have gained some professional experience in the field at a start-up in Dublin, and at <a href="https://theflavour.de" rel="nofollow noreferrer noopener" target="_blank">Flavour Communication</a> in Munich, where I’m currently employed as a designer and developer.</p>
          <p>Apart from my passion for modern technology and frontend design and development, I am also an avid creative writer and like to immerse myself in different worlds, be it through books or movies / series. At the end of the day, what I like most is solving problems, be it in fiction or through design and programming.</p>
          <p><strong>Haven’t had enough yet?</strong> You can find more of me on: <a href="https://mastodon.social/@amxmln" rel="noreferrer" target="_blank">Mastodon</a>, <a href="https://twitter.com/amxmln" rel="noreferrer" target="_blank">Twitter</a>, <a href="https://dribbble.com/amxmln" rel="noreferrer" target="_blank">Dribbble</a>, and my <g-link to="/blog">Blog</g-link>.</p>
        </div>
      </div>
    </section>
  </main>
</template>

<script>
import AnimatedHeading from '@/components/AnimatedHeading.vue';
import AnimatedLogo from '@/components/AnimatedLogo.vue';
import FloatingCard from '@/components/FloatingCard.vue';
import ProjectCard from '@/components/ProjectCard.vue';
import SectionSeparator from '@/components/SectionSeparator.vue';

export default {
  components: {
    AnimatedHeading,
    AnimatedLogo,
    FloatingCard,
    ProjectCard,
    SectionSeparator,
  },
  metaInfo() {
    return {
      title: 'Portfolio',
      meta: [
        {
          property: 'og:title',
          content: `Portfolio | ${this.$page.metadata.siteName}`,
          key: 'og:title',
        },
        {
          property: 'og:image',
          content: `${this.$page.metadata.siteUrl}/twitterimg.png`,
          key: 'og:image',
        },
      ],
    };
  },
};
</script>

<page-query>
  query {
    metadata {
      siteName,
      siteUrl
    },
    projects: allProject(sort: [{ by: "sortOrder", order: ASC }, { by: "date" }]) {
      edges {
        node {
          title,
          thumbnail(quality: 100, width: 600, height: 450),
          path,
          tags
        }
      }
    }
  }
</page-query>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'
@require '../assets/styles/colors'

.home
  nav
    @media $bp-mobile
      margin-bottom: 6rem

    a
      &:not(:last-child)
        margin-right: 2rem

        @media $bp-mobile
          margin-right: 0.5rem

        @media only screen and (max-width: 358px)
          margin-right: 0

      @media $bp-mobile
        margin-left: 0.5rem
        margin-right: 0.5rem
        margin-bottom: 1rem

      @media only screen and (max-width: 358px)
        display: block
        text-align: center
        margin-left: 0
        margin-right: 0

  .floating-card-wrapper
    @media $bp-mobile
      display: none

  .logo-wrapper
    text-align: center

    &.mobile-only
      padding: 4rem 2rem 2rem 2rem
      margin: 1rem
      background-color: $text
      color: $bg
      margin-bottom: 6rem
      border-radius: 1.5rem
      box-shadow:
        0 2.2px 2.2px -96px alpha($text, 0.281),
        0 5.3px 5.3px -96px alpha($text, 0.404),
        0 10px 10px -96px alpha($text, 0.5),
        0 17.9px 17.9px -96px alpha($text, 0.596),
        0 33.4px 33.4px -96px alpha($text, 0.719),
        0 80px 80px -96px alpha($text, 1)

      @media only screen and (max-width: 358px)
        margin: 0
        margin-bottom: 1rem
        border-top-left-radius: 0
        border-top-right-radius: 0

      .header
        text-align: left
        background-color: darken($text, 20)
        padding: 1rem
        margin: -4rem -2rem 4rem -2rem
        border-radius: 1.5rem 1.5rem 0 0
        line-height: 0

        @media only screen and (max-width: 358px)
          border-top-left-radius: 0
          border-top-right-radius: 0

        .window-button
          height: 1rem
          width: @height
          background-color: $accent-secondary
          display: inline-block
          border-radius: 50%
          margin-right: 1rem

          &:nth-child(2)
            background-color: $bg

          &:nth-child(3)
            background-color: $accent-primary

      .animated-logo
        margin-bottom: 4rem

      h1
        span:last-of-type
            margin-right: 0

      p
        // margin-bottom: 6rem
        font-size: 1rem

    .animated-logo
      margin-left: auto
      margin-right: auto

    h1
      font-size: 1rem
      text-transform: uppercase
      letter-spacing: 0.12em
      line-height: 2
      margin-bottom: 0.5rem

      span
        font-weight: normal
        display: inline-block

        &:not(:last-of-type)::after
          content: ''
          display: inline-block
          width: 0.5rem
          height: 1.5rem
          background-image: linear-gradient(to top left, transparent calc(50% - 1px), $bg, transparent calc(50% + 1px))
          opacity: 0.24
          margin: 0 0.5rem
          position: relative
          top: 7px

        &:last-of-type
          margin-right: 1rem

  .projects
    // fix pixel line of separator
    margin-top: -1px
    margin-bottom: -1px
    position: relative
    z-index: 1
    // end workaround
    padding: 13.75rem 2rem
    background-color: $text
    color: $bg

    @media $bp-mobile
      padding: 4rem 0

    p
      text-align: center

      @media $bp-mobile
        padding: 0 1rem

    .projects-wrapper
      max-width: 83rem
      margin: 10rem auto
      display: grid
      grid-template-columns: repeat(2, 1fr)
      grid-gap: 0 8rem
      align-items: start

      @media $bp-terminal
        display: block
        margin: 4rem 1rem 0 1rem

      .project-card
        margin-bottom: -8rem

        @media $bp-terminal
          margin-bottom: 2rem
          margin-left: auto
          margin-right: auto

        &:nth-child(even)
          // margin-bottom: 0
          margin-top: 16rem

          @media $bp-terminal
            margin-top: 0

  .about
    margin: 13.75rem 2rem

    @media $bp-mobile
      margin: 4rem 0 6rem 0

    .heading-wrapper
      margin-bottom: 12rem

      @media $bp-mobile
        margin-bottom: 4rem

    .bio-wrapper
      max-width: 83rem
      margin: 0 auto
      display: flex
      justify-content: space-between

      @media $bp-terminal
        display: block

        p
          padding: 0 1rem

      img,
      > noscript >>> img
        display: block
        max-width: 37.5rem
        margin-right: 2rem
        width: 100%
        align-self: flex-start

        @media $bp-terminal
          margin-bottom: 2rem
          margin-left: auto
          margin-right: auto
</style>
