<template lang="html">
  <Layout class="legal">
    <AnimatedHeading flipped tag="h1" text="legal information" />
    <h2>Impressum</h2>
    <p>Amadeus Stadler<br />Gravelottestr. 11<br />81667 München</p>
    <p><strong>Kontakt</strong></p>
    <p>
      E-Mail: <a href="mailto:amadeus.stadler@gmail.com">amadeus.stadler@gmail.com</a><br />
      Alternativ: <a href="https://t.me/amxmln/" rel="nofollow noreferrer noopener" target="_blank">Anruf / Nachricht via Telegram</a>
    </p>
    <h2 id="privacy">Privacy Policy</h2>
    <p>I take your personal data and privacy very seriously, which is why this website only collects the data it absolutely needs to function and stores no cookies on your device.</p>
    <p>In order for this site to be available online and function, it has to be hosted on a server. This server is provided by <a href="https://about.gitlab.com/stages-devops-lifecycle/pages/" rel="nofollow noreferrer noopener" target="_blank">GitLab Pages</a> and may collect some of your data, such as:</p>
    <ul>
      <li>Your IP address</li>
      <li>The time and date of your visit</li>
      <li>The referrring site</li>
      <li>Pages you have viewed and links you clicked on</li>
      <li>Device information, which may include the device type, your operating system, browser type and version, language preferences, cookie identifiers, hardware identifiers, and mobile IDs</li>
    </ul>
    <p>To find out more about why GitLab stores this information and what it is used for, please refer to their <a href="https://about.gitlab.com/privacy/" rel="nofollow noreferrer noopener">Privacy Policy</a>.</p>
    <p>Should you choose to make use of the data provided under <strong>“Impressum”</strong> or <strong>“Talk to me”</strong> to establish contact, the email-address you use to establish that contact and any other personal data you provide in your message will only be used for replying to your message, should you wish for that, and the prevention of any abuse of the provided contact information.</p>
    <p>Thank you for stopping by and putting your trust in me. Feel free to <a href="#contact">contact me</a> if you have any questions regarding what data this website collects or how it is used.</p>
  </Layout>
</template>

<script>
import AnimatedHeading from '@/components/AnimatedHeading.vue';

export default {
  components: {
    AnimatedHeading,
  },
  metaInfo: {
    title: 'Impressum & Privacy Policy',
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'

.legal
  >>> main
    padding: 0 1rem

  .heading-wrapper
    margin: 8rem auto 8rem auto

    @media $bp-mobile
      margin: 4rem auto

  h2
    max-width: 37.5rem
    margin: 13.75rem auto 2rem auto
    font-size: 2rem

    @media $bp-mobile
      margin-top: 8rem
      font-size: 1.5rem

  p
    &:last-of-type
      margin-bottom: 13.75rem

      @media $bp-mobile
        margin-bottom: 6rem
</style>
