<template lang="html">
  <svg class="animated-logo" :class="{ light, hoverable }" viewBox="0 0 661 152" fill="none" xmlns="http://www.w3.org/2000/svg">
    <defs>
      <clipPath :id="`iconMask-${uuid}`">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M131.928 76L88 0.0161133L44.0718 76L53.3125 91.9839L88 31.984L122.688 91.9839L131.928 76ZM141.169 91.984L131.928 107.968L148.134 136L115.722 136L106.481 151.984H69.5186L60.278 136L27.8657 136L44.0718 107.968L34.8311 91.9839L0.134308 152H175.866L141.169 91.984Z" />
      </clipPath>
      <clipPath :id="`maximilianMask-${uuid}`">
        <path d="M216 85H661V141H216V85Z" fill="#ff00ff"/>
      </clipPath>
      <clipPath :id="`amadeusMask-${uuid}`">
        <rect x="216" y="14" width="350" height="56" fill="#ff00ff" />
      </clipPath>
    </defs>
    <g class="triangles">
      <path class="upper" d="M 88,8 H 14 L 88,136 162,8 H 88" stroke-width="16"/>
      <path class="lower" d="M 88,144 H 14 L 88,16 162,144 H 88" stroke-width="16" :clip-path="`url(#iconMask-${uuid})`"/>
    </g>
    <g :clip-path="`url(#amadeusMask-${uuid})`">
      <path class="amadeus" d="M216 69.2l11.6-54.7h7.4l11.7 54.7h-7.3L237 55.4h-11.1l-2.6 13.8H216zm10.8-19.3h9.1l-4.6-24.6-4.5 24.6zM269 69.2l1-54.7h7.5l9.6 44.4 9.8-44.4h7.4l1 54.7h-6.1l-.6-39.7-9.3 39.7H285l-9.2-39.7-.6 39.7H269zM327.6 69.2l11.6-54.7h7.4l11.7 54.7H351l-2.4-13.8h-11.2l-2.6 13.8h-7.2zm10.8-19.3h9.1L343 25.3l-4.5 24.6zM380.7 69.2V14.5h11.9c4 0 7.3.6 9.6 1.9 2.4 1.2 4 3 5 5.5a24 24 0 011.6 9.3v20a27 27 0 01-1.5 9.9c-1 2.6-2.7 4.7-5 6-2.2 1.4-5.3 2-9 2h-12.6zm7.6-5.5h4.4c2.8 0 4.7-.5 6-1.6 1-1 1.8-2.7 2-4.7.3-2.1.4-4.6.4-7.5V32c0-2.8-.2-5.1-.5-6.9-.4-1.7-1.2-3-2.4-3.8-1.2-.8-3.1-1.3-5.7-1.3h-4.2v43.6zM433.2 69.2V14.5h21.2V20H441v18.1h11v5.5h-11v20h13.7v5.5h-21.4zM491.7 69.8c-4 0-7-.8-9-2.4a11.8 11.8 0 01-4.4-6.6c-.8-2.9-1.2-6.2-1.2-10V14.4h7.3V51c0 2.3.2 4.5.5 6.4.3 2 1 3.5 2 4.6 1.1 1.1 2.7 1.7 4.8 1.7 2.2 0 3.8-.6 4.8-1.7s1.7-2.7 2-4.6c.4-2 .5-4 .5-6.4V14.5h7.3v36.2c0 3.9-.4 7.2-1.2 10.1-.8 2.8-2.2 5-4.3 6.6-2 1.6-5.1 2.4-9 2.4zM544 69.8c-3 0-5.7-.7-7.8-2-2.1-1.4-3.7-3.3-4.8-5.6-1-2.4-1.7-5.2-1.8-8.3l6.7-1.9c.1 2 .4 3.8.9 5.6.5 1.8 1.3 3.3 2.4 4.5a6 6 0 004.5 1.7c2 0 3.4-.6 4.4-1.6 1-1.2 1.6-2.8 1.6-4.8 0-2.5-.6-4.5-1.7-6s-2.5-3-4.3-4.6l-9.1-8a15.6 15.6 0 01-4-5.2c-.9-1.9-1.3-4.2-1.3-7 0-4 1.1-7 3.4-9.3a13 13 0 019.4-3.3c2.2 0 4 .3 5.7.9 1.7.5 3 1.4 4.1 2.5 1.1 1.2 2 2.7 2.7 4.5.6 1.8 1 3.8 1.3 6.2l-6.5 1.8c-.1-1.8-.4-3.5-.8-5a7 7 0 00-2.2-3.6c-1-1-2.4-1.4-4.3-1.4s-3.4.5-4.4 1.5c-1 1-1.6 2.5-1.6 4.5 0 1.7.3 3 .8 4.1.6 1 1.5 2.2 2.8 3.3l9.2 8.1c2.1 1.8 4 4 5.5 6.5 1.6 2.5 2.4 5.4 2.4 8.9 0 2.7-.6 5-1.7 7s-2.7 3.4-4.7 4.4c-1.9 1-4.2 1.6-6.7 1.6z" />
    </g>
    <path class="spark" d="M216 78H661" stroke-width="8"/>
    <g :clip-path="`url(#maximilianMask-${uuid})`">
      <path class="maximilian" d="M216 140.5l1-54.7h7.5l9.7 44.3 9.7-44.3h7.4l1 54.7h-6.1l-.6-39.7-9.3 39.7H232l-9.2-39.7-.6 39.7H216zM274.6 140.5l11.7-54.7h7.3l11.7 54.7h-7.2l-2.5-13.8h-11.2l-2.6 13.8h-7.2zm10.8-19.3h9.2L290 96.6l-4.6 24.6zM324.4 140.5l11.4-28.7-11.2-26h7L340 105l7.5-19.3h7.1l-11.5 26.6 12 28h-7l-9-20.5-7.6 20.6h-7.1zM377.6 140.5V85.8h7.5v54.7h-7.5zM410.7 140.5l1-54.7h7.5L429 130l9.7-44.3h7.5l1 54.7h-6.2l-.6-39.7-9.2 39.7h-4.4l-9.2-39.7-.6 39.7h-6.2zM472.7 140.5V85.8h7.5v54.7h-7.5zM506 140.5V85.8h7.6V135h14v5.5H506zM550.1 140.5V85.8h7.5v54.7h-7.5zM580.4 140.5L592 85.8h7.4l11.6 54.7h-7.2l-2.5-13.8h-11.1l-2.7 13.8h-7.1zm10.8-19.3h9.1l-4.6-24.6-4.5 24.6zM633.5 140.5V85.8h5.2l15.5 36.3V85.8h6.4v54.7h-4.9L640 103v37.4h-6.5z" clip-path="url(#maximilianMask)" />
    </g>
  </svg>
</template>

<script>
export default {
  data() {
    return {
      uuid: Math.random().toString(36).substr(2),
    };
  },
  props: {
    hoverable: Boolean,
    light: Boolean,
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/colors'

.animated-logo
  max-height: 8rem
  max-width: 100%
  margin-bottom: 6rem
  display: block

  &.light
    .lower,
    .spark
      stroke: $text

    .amadeus
      fill: $text

  &.hoverable:hover .spark
      stroke-dashoffset: 445

  .triangles
    transform: translateX(calc(50% - 88px))
    animation: move 500ms 1s cubic-bezier(0.770, 0.000, 0.175, 1.000) forwards

    @keyframes move
      to
        transform: none

  .upper,
  .lower
    stroke-dasharray: 444
    stroke-dashoffset: 444
    animation: draw 1s cubic-bezier(0.770, 0.000, 0.175, 1.000) forwards

    @keyframes draw
      from
        stroke-dashoffset: 444
      to
        stroke-dashoffset: 0

  .upper
    stroke: $accent-primary

  .lower
    stroke: $bg
    animation-delay: 200ms

  .amadeus
    fill: $bg
    transform: translateY(3.55rem)
    animation: appear 0.5s 1.2s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards

  .maximilian
    fill: $accent-primary
    transform: translateY(-3.55rem)
    animation: appear 0.5s 1.2s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards

  @keyframes appear
    to
      transform: none

  .spark
    stroke: $accent-secondary
    stroke-dasharray: 445
    stroke-dashoffset: 445 * 3
    transition: stroke-dashoffset 0.5s cubic-bezier(0.770, 0.000, 0.175, 1.000)
    animation: drawSpark 1s 1s cubic-bezier(0.770, 0.000, 0.175, 1.000)

    @keyframes drawSpark
      to
        stroke-dashoffset: 445
</style>
