<template lang="html">
  <IntersectionGuard root-margin="-10% 0px -10% 0px" :threshold="1" @enter="visible = true" @leave="visible = false">
    <div class="heading-wrapper" :class="{flipped}">
      <svg class="left" :class="{visible, hidden: !visible}" viewBox="0 0 170 147" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M85.5773 17L85 16L13.9859 139H85" stroke-width="16"/>
      </svg>
      <div class="text-wrapper">
        <h1 v-if="tag === 'h1'" :class="{visible}">{{text}}</h1>
        <h2 v-else :class="{visible}">{{text}}</h2>
      </div>
      <svg class="right" :class="{visible, hidden: !visible}" viewBox="0 0 170 147" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M85 16L156.014 139H85" stroke-width="16"/>
      </svg>
    </div>
  </IntersectionGuard>
</template>

<script>
import IntersectionGuard from './IntersectionGuard.vue';

export default {
  components: {
    IntersectionGuard,
  },
  // created() {
  //   this.visible = false; // so something is shown when JS is disabled
  // },
  data() {
    return {
      visible: true,
    };
  },
  props: {
    flipped: Boolean,
    tag: {
      type: String,
      default: 'h2',
      validate: (v) => ['h1', 'h2'].includes(v),
    },
    text: {
      type: String,
      default: 'Untitled',
    },
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'
@require '../assets/styles/colors'

.heading-wrapper
  position: relative
  z-index: 1
  font-size: 3rem
  margin-bottom: 7rem
  text-align: center

  @media $bp-mobile
    font-size: 1.5rem
    margin-bottom: 4rem

  &.flipped
    .left,
    .right
      transform: scaleY(-1)
      stroke: $accent-secondary
      top: auto
      bottom: -1.20833em

  .text-wrapper
    overflow: hidden

    h1,
    h2
      font-weight: 900
      text-transform: uppercase
      font-style: normal
      font-size: 1em
      letter-spacing: 0.12em
      line-height: 1.20833em
      margin: 0
      transform: translateY(100%)
      transition: transform 400ms cubic-bezier(0.165, 0.840, 0.440, 1.000)

      &.visible
        transform: none

  .left,
  .right
    position: absolute
    left: 50%
    width: 3.54167em
    margin-left: -1.77083em
    top: -1.20833em
    stroke: $accent-primary

  .left
    z-index: -1
    stroke-linecap: square
    stroke-dasharray: 215
    stroke-dashoffset: 215

    &.visible
      animation: drawLeft 400ms cubic-bezier(0.895, 0.030, 0.685, 0.220) both

      @keyframes drawLeft
        from
          stroke-dashoffset: 215
        to
          stroke-dashoffset: 215 * 2

    &.hidden
      animation: undrawLeft 400ms cubic-bezier(0.895, 0.030, 0.685, 0.220) both

      @keyframes undrawLeft
        from
          stroke-dashoffset: 215 * 2
        to
          stroke-dashoffset: 215 * 3

  .right
    stroke-dasharray: 214
    stroke-dashoffset: 214

    &.visible
      animation: drawRight 400ms 400ms cubic-bezier(0.165, 0.840, 0.440, 1.000) both

      @keyframes drawRight
        from
          stroke-dashoffset: 214 * 3
        to
          stroke-dashoffset: 214 * 2

    &.hidden
      animation: undrawRight 400ms 400ms cubic-bezier(0.165, 0.840, 0.440, 1.000) both

      @keyframes undrawRight
        from
          stroke-dashoffset: 214 * 2
        to
          stroke-dashoffset: 214
</style>
