<template lang="html">
  <div class="component-block">
    <div class="aspect-ratio-buddy" :style="{ paddingTop }"/>
    <IntersectionGuard root-margin="0px 0px 0px 0px" :threshold="1" @enter="componentVisible = true" @leave="componentVisible = false">
      <div class="content" :class="{ 'no-js': !jsEnabled }">
        <component v-if="jsEnabled && name && componentFile" class="component" :is="componentFile" :visible="componentVisible" />
        <p v-else class="no-js-warning">😢<br>Sorry, but embedded content is not available when JavaScript is deactivated.</p>
      </div>
    </IntersectionGuard>
  </div>
</template>

<script>
import IntersectionGuard from '@/components/IntersectionGuard.vue';

export default {
  components: {
    IntersectionGuard,
  },
  computed: {
    componentFile() {
      if (!this.name) return null;
      return () => import(`./showcase/${this.name}.vue`);
    },
    paddingTop() {
      const [width, height] = this.aspectRatio.split(':');
      return `${(height / width) * 100}%`;
    },
  },
  data() {
    return {
      componentVisible: false,
      jsEnabled: false,
    };
  },
  mounted() {
    this.jsEnabled = true; // HACK: so we know that js is enabled and the component could load
  },
  props: {
    name: String,
    aspectRatio: String,
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/colors'

.component-block
  width: 100%
  position: relative

  .aspect-ratio-buddy
    width: 100%

  .content
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0

    &.no-js
      display: flex
      justify-content: center
      align-items: center
      outline: 2px dashed $accent-primary

    .no-js-warning
      font-size: 0.875rem
      max-width: none
      margin: 0

    .component
      width: 100%
      height: 100%
</style>
