<template lang="html">
  <div class="embed-block" :class="{ frame: showFrame }">
    <div class="aspect-ratio-buddy" :style="{ paddingTop }"/>
    <div v-if="showFrame" class="frame-header">
      <div v-for="i in 3" :key="i" />
      <span>{{src}}</span>
    </div>
    <div class="content">
      <transition>
        <div v-if="loading" class="loader-wrapper">
          <Loader v-if="jsEnabled" />
          <p v-if="jsEnabled">Loading embedded content…</p>
          <p v-else>😢<br>Sorry, but embedded content is not available when JavaScript is deactivated.</p>
        </div>
      </transition>
      <IntersectionGuard root-margin="0px 0px 256px 0px" @enter="actualSrc = src">
        <iframe :src="actualSrc" @load="handleLoad"></iframe>
      </IntersectionGuard>
    </div>
  </div>
</template>

<script>
import IntersectionGuard from '@/components/IntersectionGuard.vue';
import Loader from '@/components/Loader.vue';

export default {
  components: {
    IntersectionGuard,
    Loader,
  },
  computed: {
    paddingTop() {
      const [width, height] = this.aspectRatio.split(':');
      return `${(height / width) * 100}%`;
    },
  },
  data() {
    return {
      actualSrc: null,
      loading: true,
      jsEnabled: false,
    };
  },
  methods: {
    handleLoad() {
      if (this.actualSrc !== this.src) return;
      this.loading = false;
    },
  },
  mounted() {
    this.jsEnabled = true; // HACK: so we don’t show an infinite loader if there’s no JS
  },
  props: {
    src: String,
    aspectRatio: String,
    showFrame: Boolean,
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'
@require '../assets/styles/colors'

.embed-block
  width: 100%
  position: relative

  &.frame .content
    border-bottom-left-radius: 0.75rem
    border-bottom-right-radius: @border-bottom-left-radius
    overflow: hidden
    border: 0.125rem solid mix($text, $bg, 25)
    border-top: none

  .aspect-ratio-buddy
    width: 100%

  .frame-header
    height: 3rem
    border-top-left-radius: 0.75rem
    border-top-right-radius: @border-top-left-radius
    width: 100%
    background-color: mix($text, $bg, 25)
    position: absolute
    top: -(@height)
    left: 0
    display: flex
    align-items: center
    padding: 1rem
    user-select: none

    > div
      width: 1rem
      height: @width
      box-shadow: inset 0 0 0 0.125rem mix($text, $bg, 60)
      border-radius: 50%

      &:not(:last-child)
        margin-right: 0.5rem

    > span
      font-size: 0.85rem
      position: absolute
      left: 50%
      transform: translateX(-50%)
      display: inline-block
      background-color: mix($text, $bg, 15)
      padding: 0.5rem 0.75rem
      border-radius: 0.25rem
      max-width: 50%
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap
      color: mix($text, $bg, 80)

      @media $bp-mobile
        max-width: 40%

  .content
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0

    .loader-wrapper
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: @width
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      outline: 2px dashed $accent-primary
      background-color: $bg

      &.v-enter-active,
      &.v-leave-active
        transition: opacity 200ms ease

        &.v-enter,
        &.v-leave-to
          opacity: 0

      .loader
        width: 4rem
        margin-bottom: 1rem

      p
        font-size: 0.875rem
        text-align: center

    iframe
      width: 100%
      height: 100%
      border: none

</style>
