<template lang="html">
  <div class="floating-card-wrapper" @click="showCode = !showCode" @mouseenter="handleMouseenter" @mousemove="handleMousemove" @mouseleave="handleMouseleave">
    <section class="floating-card" ref="floatingCard" :style="{ transform: cardTransform }">
      <div v-if="header" class="header">
        <div class="window-button" />
        <div class="window-button" />
        <div class="window-button" />
      </div>
      <transition mode="out-in">
        <slot v-if="!showCode" />
        <pre v-else>{{pseudoCode}}</pre>
      </transition>
    </section>
  </div>
</template>

<script>
export default {
  // beforeDestroy() {
  //   if (window.DeviceMotionEvent) {
  //     window.removeEventListener('devicemotion', this.handleDeviceMotion);
  //   }
  // },
  computed: {
    pseudoCode() {
      return `<div class="floatingCard" style="transform: ${this.cardTransform};">
  <div class="header">
    <div class="window-button" />
    <div class="window-button" />
    <div class="window-button" />
  </div>
  <div class="logo-wrapper">
    <AnimatedLogo />
    <!-- Amadeus Maximilian -->
    <h1>
      <span>UI</span>
      <span>UX</span>
      <span>Web</span>
      <span>Graphic</span>
      Designer + Developer
    </h1>
    <p>from Munich, Germany</p>
  </div>
</div>`;
    },
  },
  data() {
    return {
      cardRect: null,
      cardTransform: 'none',
      cardTransition: true,
      showCode: false,
    };
  },
  methods: {
    handleDeviceMotion() {
      // Check this
      // https://github.com/universal-tilt-js/universal-tilt.js/blob/master/src/universal-tilt.js
    },
    handleMouseenter() {
      if (!this.$refs.floatingCard) return;
      this.cardRect = this.$refs.floatingCard.getBoundingClientRect();
    },
    handleMousemove(e) {
      if (!this.cardRect) return;
      const x = Math.max(0, Math.min(e.clientX - this.cardRect.left, this.cardRect.width));
      const y = Math.max(0, Math.min(e.clientY - this.cardRect.top, this.cardRect.height));
      const xPercent = x / this.cardRect.width;
      const yPercent = y / this.cardRect.height;
      const xAmplitude = xPercent * 2 - 1;
      const yAmplitude = yPercent * 2 - 1;

      this.cardTransform = `rotateX(${(-10 * yAmplitude).toFixed(3)}deg) rotateY(${(10 * xAmplitude).toFixed(3)}deg)`;
    },
    handleMouseleave() {
      this.cardTransform = 'none';
    },
  },
  // mounted() {
  //   if (window.DeviceMotionEvent) {
  //     window.addEventListener('devicemotion', this.handleDeviceMotion);
  //   }
  // },
  props: {
    header: Boolean,
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'
@require '../assets/styles/colors'

.floating-card-wrapper
  transform-style: preserve-3d
  perspective: 1000px
  max-width: 60rem
  margin: 4rem auto 12rem auto
  transition: transform 1s ease

  @media $bp-terminal
    margin-left: 2rem
    margin-right: 2rem
    pointer-events: none

  .floating-card
    border-radius: 1.5rem
    position: relative
    background-color: $text
    padding: 4rem
    color: $bg
    transform-style: preserve-3d
    cursor: pointer
    height: 36.75rem
    transition: transform 300ms cubic-bezier(0,0,.2,1)

    @media $bp-terminal
      height: auto

    &::before
      z-index: -1
      display: block
      content: ''
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      background-color: $text
      transform: translateY(3.5rem) translateZ(-8rem)
      border-radius: inherit
      pointer-events: none
      filter: blur(20px)
      opacity: 0.5
      transition: transform 1s ease

    .header
      background-color: darken($text, 20)
      padding: 1rem
      margin: -4rem -4rem 6rem -4rem
      border-radius: 1.5rem 1.5rem 0 0
      line-height: 0

      .window-button
        height: 1rem
        width: @height
        background-color: $accent-secondary
        display: inline-block
        border-radius: 50%
        margin-right: 1rem

        &:nth-child(2)
          background-color: $bg

        &:nth-child(3)
          background-color: $accent-primary

    pre
      font-weight: bold
      white-space: pre-wrap
      overflow-y: auto
      height: calc(100% - 6rem)
      margin: 0
      user-select: none

    .v-enter-active
      animation: 1s wipe-enter steps(19)

    .v-leave-active
      animation: 1s wipe-leave steps(19)

    @keyframes wipe-enter
      from
        clip-path: inset(0 0 100% 0)
      to
        clip-path: inset(0)

    @keyframes wipe-leave
      from
        clip-path: inset(0)
      to
        clip-path: inset(100% 0 0 0)
</style>
