<template lang="html">
  <footer class="footer">
    <AnimatedHeading text="Talk to Me" />
    <p>If you have a cool idea, need some help with a project, or just want to get to know me better, feel free to reach out on any of the platforms below and I’ll get back to you as soon as I can:</p>
    <ul class="social-links">
      <li>
        <a href="mailto:amadeus.stadler@gmail.com" target="_blank" title="E-Mail" rel="noreferrer">
          <g-image alt="An icon depicting an envelope" immediate src="~/assets/images/social-icons/mail.svg" />
        </a>
      </li>
      <li>
        <a href="https://t.me/amxmln" target="_blank" title="Telegram" rel="noreferrer">
          <g-image alt="The Telegram icon: a paper plane" immediate src="~/assets/images/social-icons/telegram.svg" />
        </a>
      </li>
      <li>
        <a href="https://mastodon.design/@amxmln" target="_blank" title="Mastodon" rel="me noreferrer">
          <g-image alt="The Mastodon icon: a profile of an elephant’s head with an 'm' to mark the ear" immediate src="~/assets/images/social-icons/mastodon.svg" />
        </a>
      </li>
      <li>
        <a href="https://twitter.com/amxmln" target="_blank" title="Twitter" rel="noreferrer">
          <g-image alt="The Twitter icon: a chirping bird" immediate src="~/assets/images/social-icons/twitter.svg" />
        </a>
      </li>
      <li>
        <a href="https://dribbble.com/amxmln" target="_blank" title="Dribbble" rel="noreferrer">
          <g-image alt="The Dribbble icon: a basketball" immediate src="~/assets/images/social-icons/dribbble.svg" />
        </a>
      </li>
    </ul>
    <ul class="legal-links">
      <li>© 2018 – {{currentYear || 'today'}}<br class="mobile-only" /> Amadeus Maximilian Stadler</li>
      <li><g-link to="/legal">Impressum</g-link></li>
      <li><g-link to="/legal#privacy">Privacy Policy</g-link></li>
    </ul>
    <div class="decorator" />
  </footer>
</template>

<script>
import AnimatedHeading from './AnimatedHeading.vue';

export default {
  components: {
    AnimatedHeading,
  },
  computed: {
    currentYear() {
      return new Date().getFullYear();
    },
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'
@require '../assets/styles/colors'

.footer
  padding: 13.75rem 1rem 0 1rem
  text-align: center
  color: $bg
  background-color: $text

  @media $bp-mobile
    padding: 4rem 1rem 0 1rem

  .social-links
    padding: 0
    list-style: none
    display: flex
    justify-content: space-between
    max-width: 37.5rem
    margin: 3rem auto 13.75rem auto

    @media $bp-mobile
      flex-wrap: wrap
      justify-content: space-around
      margin-bottom: 4rem

    a
      &::after
        background-color: $accent-secondary

      img,
      noscript >>> img
        width: (72 / 16)rem

        @media $bp-mobile
          width: (56 / 16)rem

  .legal-links
    padding: 0
    list-style: none
    display: flex
    justify-content: space-between
    line-height: 178%
    max-width: 50rem
    margin: 0 auto
    opacity: 0.7
    font-size: 1rem

    @media $bp-mobile
      flex-direction: column-reverse

      a
        margin-bottom: 1rem

    a
      color: inherit
      font-weight: normal

      &::after
        opacity: 0.7

  .decorator
    background-color: $accent-primary
    height: 8rem
    margin: 0 -1rem
    clip-path: polygon(0 100%, 100% 0, 100% 100%, 0% 100%);

    @media $bp-mobile
      height: 4rem
</style>
