<template lang="html">
  <svg class="loader" :class="{ infinite, 'no-color': noColor, paused }" viewBox="0 0 176 152" fill="none" xmlns="http://www.w3.org/2000/svg">
    <defs>
      <clipPath id="iconMask">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M131.928 76L88 0.0161133L44.0718 76L53.3125 91.9839L88 31.984L122.688 91.9839L131.928 76ZM141.169 91.984L131.928 107.968L148.134 136L115.722 136L106.481 151.984H69.5186L60.278 136L27.8657 136L44.0718 107.968L34.8311 91.9839L0.134308 152H175.866L141.169 91.984Z" fill="#FF00FF"/>
      </clipPath>
    </defs>
    <path class="upper" d="M 88,8 H 14 L 88,136 162,8 H 88" stroke-width="16"/>
    <path class="lower" d="M 88,144 H 14 L 88,16 162,144 H 88" stroke-width="16" clip-path="url(#iconMask)"/>
  </svg>
</template>

<script>
export default {
  props: {
    infinite: {
      type: Boolean,
      default: true,
    },
    noColor: Boolean,
    paused: Boolean,
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/colors'

.loader
  display: block
  max-height: 11rem

  &.no-color .upper
    stroke: $bg

  &.paused
    .upper,
    .lower
      animation: undraw 1s cubic-bezier(0.770, 0.000, 0.175, 1.000) both

      @keyframes undraw
        from
          stroke-dashoffset: 444 * 2
        to
          stroke-dashoffset: 444

  &.infinite
    .upper,
    .lower
      animation-iteration-count: infinite
      animation-name: drawLoop
      animation-duration: 2s

      @keyframes drawLoop
        0%
          stroke-dashoffset: 444 * 3
        33%
        66%
          stroke-dashoffset: 444 * 2
        100%
          stroke-dashoffset: 444

  .upper,
  .lower
    stroke-dasharray: 444
    stroke-dashoffset: 444
    animation: draw 1s cubic-bezier(0.770, 0.000, 0.175, 1.000) both

    @keyframes draw
      from
        stroke-dashoffset: 444
      to
        stroke-dashoffset: 0

  .upper
    stroke: $accent-primary

  .lower
    stroke: $text
    animation-delay: 200ms
</style>
