<template lang="html">
  <nav class="nav">
    <g-link class="home-link" to="/">
      <AnimatedLogo hoverable light />
    </g-link>
    <div class="link-group">
      <g-link to="/">Portfolio</g-link>
      <g-link v-if="$route.path !== '/blog/'" key="blog" to="/blog/">Blog</g-link>
      <g-link v-if="$route.path !== '/apps/'" key="apps" to="/apps/">Apps</g-link>
      <a href='#contact'>Contact</a>
    </div>
  </nav>
</template>

<script>
import AnimatedLogo from '@/components/AnimatedLogo.vue';

export default {
  components: {
    AnimatedLogo,
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'

.nav
  display: flex
  align-items: center
  justify-content: space-between

  @media $bp-terminal
    display: block
    padding: 3rem
    line-height: 0.8 // fixes micro-gap under logo
    text-align: center

  .home-link
    flex-shrink: 0
    padding: 0
    border-radius: 0
    background-color: transparent
    transition: none

    &::after
      display: none

    &:hover
      transform: none

    .animated-logo
      height: 3rem
      margin: 0 auto

  .link-group

    @media $bp-terminal
      display: none

    a:not(:last-child)
      margin-right: 2rem

</style>
