<template lang="html">
  <g-link class="post-card" :to="path">
    <p class="post-meta">{{draft ? 'DRAFT · ' : ''}}{{date}} · {{timeToRead}}min read</p>
    <p class="title">{{title}}</p>
    <p v-if="blurb || excerpt" class="blurb">{{blurb || excerpt}}</p>
  </g-link>
</template>

<script>
export default {
  props: {
    blurb: String,
    date: String,
    draft: Boolean,
    excerpt: String,
    path: String,
    timeToRead: Number,
    title: String,
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/colors'

.post-card
  display: block
  max-width: 37.5rem
  margin: 0 auto
  background-color: $bg-darker
  color: $text
  padding: 2rem

  &::after
    background-color: $accent-secondary

  p
    &.title
      font-weight: 900

    &.post-meta
      margin-bottom: 0
      font-size: 0.875rem
      opacity: 0.54
      text-transform: none
      letter-spacing: normal
      font-weight: normal

    &.blurb
      text-transform: none
      font-weight: normal
      letter-spacing: normal

    &:last-child
      margin-bottom: 0

  &:not(:last-of-type)
    margin-bottom: 2rem
</style>
