<template lang="html">
  <g-link class="project-card" :to="path">
    <g-image :src="thumbnail || ''" :alt="`Thumbnail for ${title}`" />
    <div class="overlay-wrapper">
      <div class="title-clip">
        <h3>{{title}}</h3>
      </div>
      <div class="tag-clip">
        <ul>
          <li v-for="tag in tags" :key="tag">{{tag}}</li>
        </ul>
      </div>
    </div>
  </g-link>
</template>

<script>
export default {
  props: {
    path: String,
    tags: Array,
    thumbnail: Object,
    title: String,
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/breakpoints'
@require '../assets/styles/colors'

.project-card
  display: block
  max-width: 37.5rem
  position: relative
  color: $bg
  border-radius: 1.5rem
  margin: 0
  transition: transform 200ms ease

  &::before
    display: block
    content: ''
    width: 100%
    padding-top: 75%

  &::after
    content: ''
    display: block
    position: absolute
    transform: none
    top: 1px
    left: 1px
    bottom: 1px
    right: 1px
    width: calc(100% - 2px)
    height: calc(100% - 2px)
    z-index: -2
    background-color: $accent-secondary
    border-radius: 1.5rem

  &:hover, &:focus
    // box-shadow: 0 0 0 1px $accent-secondary
    transform: translate(-1rem, -1rem)

    &::after
      background-color: $accent-secondary
      transform: translate(1rem, 1rem)

    .overlay-wrapper
      opacity: 1

      .title-clip h3
        transform: none

      .tag-clip ul
        transform: none

  img,
  > noscript >>> img
    display: block
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    object-fit: cover
    z-index: -1
    border-radius: 1.5rem
    background-color: $text

  .overlay-wrapper
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    display: flex
    flex-direction: column
    justify-content: flex-end
    align-items: center
    background-image: linear-gradient(to top, black, transparent)
    padding: 3rem
    opacity: 0
    border-radius: 1.5rem
    text-align: center
    transition: opacity 350ms ease

    .title-clip
      overflow: hidden
      margin-bottom: 1.5rem

      h3
        font-weight: 900
        font-size: 1.5rem
        letter-spacing: 0.12em
        text-transform: uppercase
        transform: translateY(100%)
        margin: 0
        transition: transform 350ms cubic-bezier(0.770, 0.000, 0.175, 1.000)

    .tag-clip
      overflow: hidden

      @media $bp-mobile
        height: 1.78rem

      ul
        list-style: none
        margin: 0
        padding: 0
        transform: translateY(100%)
        transition: transform 350ms cubic-bezier(0.770, 0.000, 0.175, 1.000)
        transition-delay: 50ms
        font-size: 1rem

        li
          display: inline-block
          font-weight: normal

          &::before
            content: '#'

          &:not(:last-child)
            margin-right: 1rem

</style>
