<template lang="html">
  <!-- <IntersectionGuard :threshold="0.5" @enter="visible = true" @leave="visible = false"> -->
    <div class="section-separator">
      <div class="left" :class="{flipped, visible}" />
      <div class="right" :class="{flipped, visible}" />
    </div>
  <!-- </IntersectionGuard> -->
</template>

<script>
// import IntersectionGuard from './IntersectionGuard.vue';

export default {
  // components: {
  //   IntersectionGuard,
  // },
  data() {
    return {
      visible: true,
    };
  },
  props: {
    flipped: Boolean,
  },
};
</script>

<style lang="stylus" scoped>
@require '../assets/styles/colors'

.section-separator
  height: 8rem
  position: relative

  .left,
  .right
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%)
    transition: clip-path 400ms ease

    &.flipped
      clip-path: polygon(0 0, 100% 0, 100% 0, 0% 0)

  .left
    background-color: $accent-secondary

    &.flipped
      background-color: $accent-primary

    &.visible
      clip-path: polygon(0 0, 100% 100%, 100% 100%, 0% 100%)

      &.flipped
        clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 0)

  .right
    background-color: $text

    &.visible
      clip-path: polygon(0 100%, 100% 0, 100% 100%, 0% 100%)

      &.flipped
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%)

</style>
