<template lang="html">
  <div class="hydrt-icons">
    <svg v-for="icon in icons" class="icon" :class="[{ active: icon.active }, icon.icon]" :key="icon.icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path v-if="icon.icon === 'settings'" d="m6.58 5.35-1.68-.4a9.99 9.99 0 0 0-2.55 4.42l1.18 1.27a2 2 0 0 1 0 2.72l-1.18 1.27a9.99 9.99 0 0 0 2.55 4.41l1.68-.39a2 2 0 0 1 2.37 1.37l.5 1.65a10.01 10.01 0 0 0 5.1 0l.5-1.65a2 2 0 0 1 2.37-1.37l1.68.4a9.99 9.99 0 0 0 2.55-4.42l-1.18-1.27a2 2 0 0 1 0-2.72l1.18-1.27a9.99 9.99 0 0 0-2.55-4.41l-1.68.39a2 2 0 0 1-2.37-1.37l-.5-1.65a10.02 10.02 0 0 0-5.1 0l-.5 1.65a2 2 0 0 1-2.37 1.37ZM12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" stroke-linecap="round" fill-rule="evenodd" stroke-linejoin="round" />
      <path v-else-if="icon.icon === 'hourglass'" d="M7 20H8M17 20H16M7 4H8M17 4H16M8 4C8 8 10 9 12 12M8 4H16M12 12C14 9 16 8 16 4M12 12C10 15 8 16 8 20M12 12C14 15 16 16 16 20M8 20H16" stroke-linecap="round" stroke-linejoin="round"/>
      <path v-else-if="icon.icon === 'heart'" d="M6.1 12.28a3.6 3.6 0 0 1 0-5.2 3.87 3.87 0 0 1 5.36 0l.54.52.54-.52a3.87 3.87 0 0 1 5.35 0 3.6 3.6 0 0 1 0 5.2L12 18l-5.9-5.72Z" stroke-linecap="round"/>
      <path v-else d="M19 14C19 17.866 15.866 21 12 21C8.13401 21 5 17.866 5 14C5 8.13401 12 3 12 3C12 3 19 8.13401 19 14Z" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
  </div>
</template>

<script>
export default {
  beforeUnmount() {
    if (this.interval) {
      window.clearInterval(this.interval);
      this.interval = null;
    }
  },
  data() {
    return {
      icons: [
        {
          icon: 'settings',
          active: false,
        },
        {
          icon: 'drop',
          active: false,
        },
        {
          icon: 'hourglass',
          active: false,
        },
      ],
      index: 0,
      interval: null,
    };
  },
  methods: {
    activate() {
      this.icons[this.index].active = !this.icons[this.index].active;
      if (this.index > 0) this.icons[this.index - 1].active = !this.icons[this.index - 1].active;
      else this.icons[this.icons.length - 1].active = false;
      this.index = (this.index + 1) % 3;
    },
  },
  props: {
    visible: Boolean,
  },
  watch: {
    visible(nv) {
      if (nv) {
        this.interval = window.setInterval(this.activate, 1000);
      } else {
        window.clearInterval(this.interval);
        this.interval = null;
      }
    },
  },
};
</script>

<style lang="stylus" scoped>
$accent = #08BDF6
$accent-secondary = #1D6CE2

.hydrt-icons
  background-color: #DFF2FD
  border-radius: (60 / 16)rem
  display: flex
  align-items: center
  justify-content: center
  color: $accent-secondary

  .icon
    margin: 1.5rem
    display: block
    width: (64 / 16)rem
    height: @width
    color: inherit
    stroke: currentColor
    fill: transparent
    stroke-width: 2
    transition: stroke 200ms ease, fill 200ms ease

    &.heart
      transform: none

    &.active
      stroke: $accent-secondary
      fill: $accent

      &.heart
        // fill: $accent-secondary
        animation: bounce 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550)
        animation-delay: 500ms

        @keyframes bounce
          0%
            transform: none
          50%
            transform: scale(1.5)
          100%
            transform: none

      &.settings,
      &.hourglass
        animation: spin 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550)
        animation-delay: 500ms

        @keyframes spin
          from
            transform: rotate(0deg)
          to
            transform: rotate(180deg)

      &.drop
        animation: fall 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550)
        animation-delay: 500ms

        @keyframes fall
          0%
            transform: none
            opacity: 1
          50%
            transform: translateY(25%)
            opacity: 0
          51%
            transform: translateY(-25%)
            opacity: 0
          100%
            transform: none
            opacity: 1

</style>
