<template lang="html">
  <div class="magistan-monsters" @click="chooseMonster">
    <svg class="circle" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 988 988">
      <g stroke="#442D46" stroke-linejoin="round" stroke-width="20.2" opacity=".3">
        <circle cx="494" cy="494" r="483.9"/>
        <path d="M494.1 78.4L909.8 494 494.1 909.8 78.4 494z"/>
        <path d="M702 134l152.2 568L286.3 854 134.2 286.2z"/>
        <path d="M854.2 286.3L702 854 134.1 702 286.3 134z"/>
        <circle cx="494" cy="494" r="420.1"/>
      </g>
    </svg>
    <transition mode="out-in">
      <svg v-if="element === 'fire'" class="card" key="fire" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 175 247">
        <g clip-path="url(#clip0)">
          <path fill="#442D46" d="M184.6-10H-11v266.46h195.6V-10z"/>
          <path fill="#3B273D" d="M17.35 9.84h138.9a8.5 8.5 0 018.5 8.5v209.77a8.5 8.5 0 01-8.5 8.5H17.34a8.5 8.5 0 01-8.5-8.5V18.35a8.5 8.5 0 018.5-8.5z"/>
          <mask id="a" width="157" height="228" x="8" y="9" mask-type="alpha" maskUnits="userSpaceOnUse">
            <path fill="#3B273D" d="M17.34 9.84h138.9a8.5 8.5 0 018.5 8.5v209.77a8.5 8.5 0 01-8.5 8.5H17.34a8.5 8.5 0 01-8.5-8.5V18.35a8.5 8.5 0 018.5-8.5z"/>
          </mask>
          <g stroke-miterlimit="3" mask="url(#a)">
            <path fill="#3B273D" stroke="#442D46" stroke-linejoin="round" stroke-width="6" d="M86.8 236.61l-98.2-56.69V66.53L86.8 9.84l98.19 56.7v113.38l-98.2 56.7z"/>
            <path fill="#3B273D" stroke="#442D46" stroke-linejoin="round" stroke-width="6" d="M-11.4 179.92L86.8 9.84l98.19 170.08H-11.4z"/>
            <path fill="#3B273D" stroke="#442D46" stroke-linecap="square" stroke-width="6" d="M25.85 46.7a19.84 19.84 0 100-39.7 19.84 19.84 0 000 39.7zM25.85 239.45a19.84 19.84 0 100-39.69 19.84 19.84 0 000 39.69zM147.74 46.7a19.84 19.84 0 100-39.7 19.84 19.84 0 000 39.7z"/>
            <path fill="#3B273D" stroke="#442D46" stroke-linejoin="round" stroke-width="6" d="M86.8 188.89a65.66 65.66 0 100-131.32 65.66 65.66 0 000 131.32zM86.8 236.62a23.86 23.86 0 100-47.73 23.86 23.86 0 000 47.73z"/>
            <path fill="#3B273D" stroke="#442D46" stroke-linecap="square" stroke-width="6" d="M147.74 239.45a19.84 19.84 0 100-39.69 19.84 19.84 0 000 39.69z"/>
            <path stroke="#BFAF8A" stroke-linecap="round" stroke-width="2" d="M30.3 23.86c-.14 6.77-6.61 5.1-4.4 11.5"/>
            <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M26.53 18.35c5.94 5.74 8.44 16.4-.62 17-5.5-.22-8.32-6.39-3.92-10.25 3.35 2.88 5.2-1.22 4.54-6.75z"/>
            <path stroke="#BFAF8A" stroke-linecap="round" stroke-width="2" d="M143.28 222.6c.15-6.78 6.62-5.1 4.4-11.5"/>
            <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M147.06 228.11c-5.94-5.75-8.44-16.4.62-17 5.5.22 8.31 6.39 3.92 10.24-3.35-2.88-5.2 1.22-4.54 6.76z"/>
          </g>
        </g>
        <defs>
          <clipPath id="clip0">
            <rect width="174.59" height="246.46" fill="#fff" rx="12"/>
          </clipPath>
        </defs>
      </svg>
      <svg v-else-if="element === 'earth'" class="card" key="earth" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 176 247">
        <g clip-path="url(#clip0)">
          <path fill="#442D46" d="M185.6-10H-10v266.5h195.6V-10z"/>
          <path fill="#3B273D" d="M18.3 9.8h139c4.6 0 8.4 3.9 8.4 8.5v209.8c0 4.7-3.8 8.5-8.5 8.5H18.3a8.5 8.5 0 01-8.5-8.5V18.3c0-4.6 3.9-8.5 8.5-8.5z"/>
          <mask id="a" width="157" height="228" x="9" y="9" mask-type="alpha" maskUnits="userSpaceOnUse">
            <path fill="#3B273D" d="M18.3 9.8h139c4.6 0 8.4 3.9 8.4 8.5v209.8c0 4.7-3.8 8.5-8.5 8.5H18.3a8.5 8.5 0 01-8.5-8.5V18.3c0-4.6 3.9-8.5 8.5-8.5z"/>
          </mask>
          <g mask="url(#a)">
            <path fill="#3B273D" stroke="#442D46" stroke-linejoin="round" stroke-miterlimit="3" stroke-width="6" d="M199 123.2l-55.6 96.4H32.2l-55.7-96.4 55.7-96.4h111.2l55.7 96.4z"/>
            <path fill="#3B273D" stroke="#442D46" stroke-linejoin="round" stroke-miterlimit="3" stroke-width="6" d="M87.8 219.6L4.3 75h167L87.8 219.6z"/>
            <path fill="#3B273D" stroke="#442D46" stroke-linecap="square" stroke-miterlimit="3" stroke-width="6" d="M26.9 46.7a19.8 19.8 0 100-39.7 19.8 19.8 0 000 39.7z"/>
            <path fill="#3B273D" stroke="#442D46" stroke-linejoin="round" stroke-miterlimit="3" stroke-width="6" d="M87.8 188.9a65.7 65.7 0 100-131.3 65.7 65.7 0 000 131.3z"/>
            <path fill="#3B273D" stroke="#442D46" stroke-linejoin="round" stroke-miterlimit="3" stroke-width="6" d="M165.8 123.2l-39 67.6h-78l-39-67.6 39-67.6h78l39 67.6z"/>
            <path fill="#3B273D" stroke="#442D46" stroke-linejoin="round" stroke-miterlimit="2" stroke-width="6" d="M35.4 211H9.8v25.6h25.6V211zM165.7 9.8h-25.5v25.6h25.5V9.8z"/>
            <path fill="#3B273D" stroke="#442D46" stroke-linecap="square" stroke-miterlimit="3" stroke-width="6" d="M148.7 239.4a19.8 19.8 0 100-39.6 19.8 19.8 0 000 39.6z"/>
            <path stroke="#BFAF8A" stroke-linejoin="round" stroke-miterlimit="3" stroke-width="2" d="M22.6 34.2l-2.1-3.7-2.2-3.6 2.2-3.7 2.1-3.7h8.5l2.1 3.7 2.2 3.7-2.2 3.6-2.1 3.7h-8.5zM144.5 227l-2.1-3.7-2.2-3.7 2.2-3.7 2-3.7h8.6l2.1 3.7 2.1 3.7-2 3.7-2.2 3.7h-8.5z"/>
            <path fill="#3B273D" stroke="#442D46" stroke-linecap="square" stroke-miterlimit="3" stroke-width="6" d="M26.9 239.4a19.8 19.8 0 100-39.6 19.8 19.8 0 000 39.6zM148.7 46.7a19.8 19.8 0 100-39.7 19.8 19.8 0 000 39.7z"/>
          </g>
        </g>
        <defs>
          <clipPath id="clip0">
            <rect width="175.6" height="246.5" fill="#fff" rx="12"/>
          </clipPath>
        </defs>
      </svg>
      <svg v-else-if="element === 'air'" class="card" key="air" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 176 247">
        <g clip-path="url(#clip0)">
          <path fill="#442D46" d="M185.6-10H-10v266.46h195.6V-10z"/>
          <path fill="#3B273D" d="M18.35 9.84h138.9a8.5 8.5 0 018.5 8.5v209.77a8.5 8.5 0 01-8.5 8.5H18.34a8.5 8.5 0 01-8.5-8.5V18.35a8.5 8.5 0 018.5-8.5z"/>
          <path stroke="#442D46" stroke-linejoin="round" stroke-miterlimit="3" stroke-width="6" d="M9.84 9.84l71.46 56.7 71.45 56.69-71.45 56.7L9.84 236.6"/>
          <path stroke="#442D46" stroke-linejoin="round" stroke-miterlimit="3" stroke-width="6" d="M7.5 62.2l73.8 30.52 71.45 30.5-71.45 30.52-73.8 30.51M72.88 164.75v-82.5M152.75 123.23L72.87 240.7M152.75 123.23L122 240.7"/>
          <path fill="#3B273D" stroke="#442D46" stroke-linejoin="round" stroke-miterlimit="3" stroke-width="6" d="M97.72 145.9a68.03 68.03 0 100-136.06 68.03 68.03 0 000 136.07z"/>
          <path fill="#3B273D" stroke="#442D46" stroke-linejoin="round" stroke-miterlimit="3" stroke-width="6" d="M97.72 121.87a44 44 0 100-88 44 44 0 000 88z"/>
          <path fill="#3B273D" stroke="#442D46" stroke-linecap="square" stroke-miterlimit="3" stroke-width="6" d="M26.85 46.7a19.84 19.84 0 100-39.7 19.84 19.84 0 000 39.7z"/>
          <path fill="#3B273D" stroke="#442D46" stroke-linejoin="round" stroke-miterlimit="3" stroke-width="6" d="M87.8 188.89a65.66 65.66 0 100-131.32 65.66 65.66 0 000 131.32z"/>
          <path fill="#3B273D" stroke="#442D46" stroke-linecap="square" stroke-miterlimit="3" stroke-width="6" d="M148.74 239.45a19.84 19.84 0 100-39.69 19.84 19.84 0 000 39.69z"/>
          <path stroke="#BFAF8A" stroke-linecap="round" stroke-miterlimit="3" stroke-width="1.57" d="M22.68 23.63v-.16a1.76 1.76 0 111.75 1.76M31.36 27.56h-11.6M26.15 29.87h-6.39M24.43 25.23h-4.67M28.8 25.22l-.02-.24a2.58 2.58 0 112.58 2.58M24.1 31.75v.18a2.06 2.06 0 102.05-2.06M152.91 222.83v.16a1.76 1.76 0 11-1.75-1.77M144.23 218.9h11.6M149.44 216.58h6.39M151.16 221.22h4.67M146.8 221.24a2.58 2.58 0 11-2.57-2.34M151.49 214.71v-.19a2.06 2.06 0 10-2.05 2.06"/>
          <path fill="#3B273D" stroke="#442D46" stroke-linecap="square" stroke-miterlimit="3" stroke-width="6" d="M26.85 239.45a19.84 19.84 0 100-39.69 19.84 19.84 0 000 39.69zM148.74 46.7a19.84 19.84 0 100-39.7 19.84 19.84 0 000 39.7z"/>
        </g>
        <defs>
          <clipPath id="clip0">
            <rect width="175.59" height="246.46" fill="#fff" rx="12"/>
          </clipPath>
        </defs>
      </svg>
      <svg v-else-if="element === 'water'" class="card" key="water" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 176 247">
        <g clip-path="url(#clip0)">
          <path fill="#442D46" d="M185.6-10H-10v266.46h195.6V-10z"/>
          <path fill="#3B273D" d="M18.35 236.61h138.9a8.5 8.5 0 008.5-8.5V18.35a8.5 8.5 0 00-8.5-8.5H18.34a8.5 8.5 0 00-8.5 8.5V228.1a8.5 8.5 0 008.5 8.5z"/>
          <mask id="a" width="157" height="228" x="9" y="9" mask-type="alpha" maskUnits="userSpaceOnUse">
            <path fill="#3B273D" d="M18.34 236.61h138.9a8.5 8.5 0 008.5-8.5V18.35a8.5 8.5 0 00-8.5-8.5H18.34a8.5 8.5 0 00-8.5 8.5V228.1a8.5 8.5 0 008.5 8.5z"/>
          </mask>
          <g stroke-miterlimit="3" mask="url(#a)">
            <path fill="#3B273D" stroke="#442D46" stroke-linejoin="round" stroke-width="6" d="M87.8 9.84l-98.2 56.7v113.38l98.2 56.7 98.19-56.7V66.53L87.79 9.84z"/>
            <path stroke="#442D46" stroke-linejoin="round" stroke-width="6" d="M185.6 66.54L-10 179.94M-10 66.54l195.6 113.4M87.8 236.61V123.23"/>
            <path fill="#3B273D" stroke="#442D46" stroke-linejoin="round" stroke-width="6" d="M-10.4 66.54l49.1 85.03h98.2l49.09-85.03H-10.4z"/>
            <path fill="#3B273D" stroke="#442D46" stroke-linecap="square" stroke-width="6" d="M26.85 46.7a19.84 19.84 0 100-39.7 19.84 19.84 0 000 39.7z"/>
            <path fill="#3B273D" stroke="#442D46" stroke-linejoin="round" stroke-width="6" d="M87.8 188.89a65.66 65.66 0 100-131.32 65.66 65.66 0 000 131.32z"/>
            <path stroke="#442D46" stroke-linejoin="round" stroke-width="6" d="M153.46 123.23L87.79 9.84M22.13 123.23L87.8 9.84"/>
            <path fill="#3B273D" stroke="#442D46" stroke-linecap="square" stroke-width="6" d="M148.74 239.45a19.84 19.84 0 100-39.69 19.84 19.84 0 000 39.69z"/>
            <path stroke="#BFAF8A" stroke-width="2" d="M21.2 29.7c0-2.07 1.88-5.86 5.65-11.35 3.77 5.5 5.65 9.28 5.65 11.36a5.65 5.65 0 01-11.3 0zM154.39 216.75c0 2.08-1.88 5.87-5.65 11.36-3.77-5.5-5.65-9.28-5.65-11.36a5.65 5.65 0 0111.3 0z"/>
            <path fill="#3B273D" stroke="#442D46" stroke-linecap="square" stroke-width="6" d="M26.85 239.45a19.84 19.84 0 100-39.69 19.84 19.84 0 000 39.69zM148.74 46.7a19.84 19.84 0 100-39.7 19.84 19.84 0 000 39.7z"/>
          </g>
        </g>
        <defs>
          <clipPath id="clip0">
            <rect width="175.59" height="246.46" fill="#fff" rx="12"/>
          </clipPath>
        </defs>
      </svg>
    </transition>
    <transition mode="out-in">
      <svg v-if="element === 'air' && level === 1" class="monster" key="air-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 77 114">
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M53.7 75.7a7 7 0 11-8.9 6.8V61M25.4 92.2a10 10 0 00-4.7 2.7 9.5 9.5 0 00-2 10A9.6 9.6 0 0022 109a10 10 0 0014.4-2.5c1-1.5 1.5-3.3 1.5-5V61"/>
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M23.8 75.5a5 5 0 00-2.3 1.3 4 4 0 00-1 4.6c.3.7.9 1.4 1.6 2 .7.4 1.6.7 2.5.8 1 .1 1.9 0 2.7-.4.8-.4 1.5-1 2-1.7s.7-1.5.7-2.3V61M38.5 61C20.6 61 3 54.6 3 32S38.5 3 38.5 3 74 9.4 74 32 56.4 61 38.5 61z"/>
        <circle cx="23.5" cy="33" r="5" stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
        <circle cx="53.5" cy="33" r="5" stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
      </svg>
      <svg v-else-if="element === 'air' && level === 2" class="monster" key="air-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 77 105">
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M38.5 60.6c19.6 0 35.5-3.4 35.5-22.8A35.3 35.3 0 0038.5 2.6 35.3 35.3 0 003 37.8c0 19.4 15.9 22.8 35.5 22.8zM26.5 29v11M32 34.5H21M50.5 29v11M56 34.5H45M14.4 59.4l-8 15.8H21l-6.7 18.3M39.2 62.9l-8 18h14.7l-6.7 21"/>
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M64 57.4l-8 15.8h14.7L64 91.5"/>
      </svg>
      <svg v-else-if="element === 'air' && level === 3" class="monster" key="air-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 77 94">
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M49.7 61.2s-24-6.4-24-29c0-22.5 24-29 24-29s24 6.5 24 29c0 22.6-24 29-24 29z"/>
        <circle cx="49.7" cy="32.2" r="5" stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
        <circle cx="49.7" cy="32.2" r="11" stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M38.7 91s-7.9-2-7.9-9.5c0-7.3 8-9.5 8-9.5s7.8 2.2 7.8 9.5c0 7.4-7.9 9.5-7.9 9.5zM14.6 76.7s-11.2-3-11.2-13.5 11.2-13.5 11.2-13.5 11.1 3 11.1 13.5-11.1 13.5-11.1 13.5z"/>
      </svg>
      <svg v-else-if="element === 'air' && level === 4" class="monster" key="air-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 125 78">
        <circle cx="62.3" cy="39" r="29" stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M24.7 61.8a6.8 6.8 0 01-6.8 6.9h-3.4M24.7 61.8a6.8 6.8 0 016.9-6.8h5.6M100.1 61.8a6.8 6.8 0 006.9 6.9h3.4M100.1 61.8a6.8 6.8 0 00-6.8-6.8h-5.7M24.7 16.2A6.8 6.8 0 0018 9.4h-3.4M24.7 16.2a6.8 6.8 0 006.9 6.8h5.6M100.1 16.2a6.8 6.8 0 016.9-6.8h3.4M100.1 16.2a6.8 6.8 0 01-6.8 6.8h-5.7M2.5 68.7l11 6.3V62.4l-11 6.3zM122.1 68.7l-11 6.3V62.4l11 6.3zM2.5 9.4l11 6.3V3l-11 6.4zM122.1 9.4l-11 6.3V3l11 6.4z"/>
        <circle cx="62.3" cy="39" r="5" stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M82.3 39s-5 11-20 11-20-11-20-11 5-11 20-11 20 11 20 11z"/>
      </svg>
      <svg v-else-if="element === 'air' && level === 5" class="monster" key="air-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 99 112">
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M84.8 57.5s-7.9 29-35.5 29-35.5-29-35.5-29 8-29 35.5-29c27.6 0 35.5 29 35.5 29z"/>
        <circle cx="49.3" cy="57.5" r="11" stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M49.3 96.5V109M69.8 91.3l6.3 11M85 78l11 6.3M28.8 91.3l-6.3 11M13.6 78l-11 6.3M49.3 18.6L57.1 5H41.5l7.8 13.5z"/>
      </svg>
      <svg v-else-if="element === 'air' && level === 6" class="monster" key="air-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 119 110">
        <circle cx="59.7" cy="31.8" r="29" stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M113.6 47l-28.1.6 4-15 24 14.5z"/>
        <circle cx="59.7" cy="31.8" r="5" stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
        <circle cx="59.7" cy="31.8" r="11" stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M45.7 86.3a14 14 0 00-14 14v7M45.7 86.3a14 14 0 0014-14V60.8M12 65.7L29 82.8M2.6 88.9l21.3 3.4M32.5 61.8l5.3 17"/>
      </svg>
      <svg v-else-if="element === 'air' && level === 7" class="monster" key="air-7" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 122 83">
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M26 42.7v14.4l-12.5-7.2L26 42.7zM96 42.7v14.4l12.5-7.2-12.4-7.2zM10.7 6.2l14.5 14.5M2.8 25.9l18 3M28.1 3l4.5 14.4M111.3 6.2L96.8 20.7M119.2 25.9l-18 3M94 3l-4.6 14.4"/>
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M61 22.3c-17.9 0-35.5 6.5-35.5 29 0 22.6 35.5 29 35.5 29s35.5-6.4 35.5-29c0-22.5-17.6-29-35.5-29zM89.4 66.2H32.6"/>
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M72 41.6a11 11 0 11-22 0h22zM78.5 41.1h-35"/>
      </svg>
      <svg v-else-if="element === 'air' && level === 8" class="monster" key="air-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 126 115">
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M34.1 15H10M22 27V2.9M118.7 48.5h-17M110.2 57V40M34.1 105.6H21.6M27.8 111.9V99.3M99.3 2.8H82.6M87.8 101.3H75.1"/>
        <ellipse cx="61.7" cy="57.1" stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" rx="23" ry="29"/>
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M61.7 43L74 64H49.6l12.1-21zM27 54.6l-15 9.7 12.8 7.4-14 10.6M99.8 70.6l1.2 17.7 12.7-7.5L116 98"/>
      </svg>
      <svg v-else-if="element === 'air' && level === 9" class="monster" key="air-9" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 118 114">
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M75.4 82a14 14 0 005-19.2l-3.4-6M75.4 82a14 14 0 00-5.2 19.1l5.8 10M115 83l-23.5-6.3M111.4 58.2L91.2 66M99 96.6l-13-12M42.2 82a14 14 0 01-5-19.2l3.4-6M42.2 82a14 14 0 015.2 19.1l-5.8 10M2.7 83L26 76.7M6.2 58.2L26.4 66M18.5 96.6l13.2-12M58.8 68.3l30-21.8-11.5-35.2h-37L28.8 46.5l30 21.8z"/>
        <circle cx="58.8" cy="36.8" r="5" stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M78.8 36.8s-5 11-20 11-20-11-20-11 5-11 20-11 20 11 20 11zM15 5.5L27 18.7l-14.3 3.9 10.7 13.8M102.6 5.5L90.7 18.7l14.3 3.9-10.7 13.8"/>
      </svg>
      <svg v-else-if="element === 'fire' && level === 1" class="monster" key="fire-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 77 64">
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M38.5 61C58.1 61 74 57.6 74 38.2A35.3 35.3 0 0038.5 3 35.3 35.3 0 003 38.2C3 57.6 18.9 61 38.5 61zM53.5 26.5v17M23.5 26.5v17"/>
      </svg>
      <svg v-else-if="element === 'fire' && level === 2" class="monster" key="fire-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 94 119">
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M66.1 42a10 10 0 013.7 13.7L67.3 60M66.1 42a10 10 0 01-3.7-13.8l4.2-7.2M47.7 24.6A10 10 0 0044 38.4l2.5 4.3M47.7 24.6A10 10 0 0051.3 11l-4.1-7.2M27 43a10 10 0 013.6 13.8l-2.5 4.4M27 43a10 10 0 01-3.7-13.7l4.1-7.1M46.8 42.6l29.1 29-29.1 29.2-29.1-29.1z"/>
        <circle cx="35.8" cy="71.7" r="5" stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
        <circle cx="57.8" cy="71.7" r="5" stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M70.5 95a10 10 0 10-2-15.8l-21.7 21.6M23.2 95a10 10 0 112-15.8l21.6 21.6"/>
      </svg>
      <svg v-else-if="element === 'fire' && level === 3" class="monster" key="fire-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 77 100">
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M17.4 38.6h46v58h-46zM40.4 30.2s-11.2-3-11.2-13.5c0-10.4 11.2-13.4 11.2-13.4s11 3 11 13.4c0 10.5-11 13.5-11 13.5z"/>
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M51.4 66a11 11 0 01-22 0h22zM57.9 65.6h-35M8.5 47.7c-1.2.4-2.4 1-3.3 1.8-.9.9-1.5 2-1.7 3.1-.3 1.2-.2 2.4.3 3.5.5 1 1.3 2 2.3 2.7a7.7 7.7 0 007.4.7 6.8 6.8 0 002.8-2.3c.7-1 1-2.2 1-3.4V38.6M70 45.6c1 .2 2 .7 2.6 1.4.7.6 1.2 1.4 1.4 2.3.1 1 0 1.8-.3 2.7-.3.8-1 1.5-1.7 2-.8.6-1.8 1-2.8 1-1 .2-2 0-2.9-.4-.9-.4-1.6-1-2.1-1.8-.6-.8-.8-1.6-.8-2.5V38.6"/>
      </svg>
      <svg v-else-if="element === 'fire' && level === 4" class="monster" key="fire-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 82 105">
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M40.8 102.5l30-21.8-11.4-35.2h-37L10.8 80.7l30 21.8zM57 22.7A10 10 0 1044.2 13v30.5M27.6 29.5A6.7 6.7 0 1136 23v20.5M40.8 62.5v17M49.3 71h-17M2.9 57.6l11 11 4-15-15 4zM78.8 57.6l-11 11-4-15 15 4z"/>
      </svg>
      <svg v-else-if="element === 'fire' && level === 5" class="monster" key="fire-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 65 99">
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M38.3 96.4s-24-6.5-24-29c0-22.6 24-29 24-29s24 6.4 24 29c0 22.5-24 29-24 29z"/>
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M38.3 81.4l12.1-21H26.2l12 21zM8.4 40.4s-5.8-1.6-5.8-7c0-5.6 5.8-7.1 5.8-7.1s5.9 1.5 5.9 7-5.9 7.1-5.9 7.1zM28.8 23.7s-5-1.3-5-6c0-4.5 5-5.9 5-5.9s4.9 1.4 4.9 6-5 6-5 6zM9.8 13.5S5.3 12.3 5.3 8c0-4.2 4.5-5.4 4.5-5.4s4.5 1.2 4.5 5.4c0 4.3-4.5 5.5-4.5 5.5z"/>
      </svg>
      <svg v-else-if="element === 'fire' && level === 6" class="monster" key="fire-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 87 83">
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M43.5 5l35 57.8h-70l35-57.7z"/>
        <circle cx="43.5" cy="44.1" r="5" stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M63.5 44s-5 11-20 11-20-11-20-11 5-11 20-11 20 11 20 11zM35.2 18c-11.7-.2-17.5-2-27.2-7.2 6 9.8 10 14.6 19.2 20.5l8-13.4zM52 18c11.7-.2 17.5-2 27.2-7.2-6 9.8-10 14.6-19.2 20.5L52 18z"/>
      </svg>
      <svg v-else-if="element === 'fire' && level === 7" class="monster" key="fire-7" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 80 118">
        <path fill="#BFAF8A" d="M46.5 3.3L48.7 2a2.5 2.5 0 00-4.7 1l2.5.2zM15.1 40.8l1.8-1.7a2.5 2.5 0 00-4 .7l2.2 1zM44 3.2A69.2 69.2 0 0137.5 32c-3.7 7.3-8.4 11-12.7 11v5C32 48 38 42.1 42 34.3c4-8 6.7-19 7-31l-5-.2zM24.8 43c-2.6 0-5.3-1.2-7.9-3.9l-3.6 3.5c3.3 3.3 7.2 5.4 11.5 5.4v-5zM5.6 78.6A55 55 0 019 63.3c2.1-6.5 5-13.9 8.4-21.5l-4.6-2C9.5 47.5 6.4 55 4.2 61.7A59.2 59.2 0 00.6 78.6h5zm34.2 34.2C21 112.8 5.6 97.5 5.6 78.6h-5a39.3 39.3 0 0039.2 39.2v-5zm34.3-34.2c0 18.9-15.3 34.2-34.3 34.2v5a39.3 39.3 0 0039.3-39.2h-5zM44.3 4.4a673.2 673.2 0 0119 39.7c3 7.1 5.8 14 7.7 20.1 2 6.1 3.1 11 3.1 14.4h5c0-4.2-1.3-9.8-3.3-16-2-6.2-4.8-13.3-8-20.5a678 678 0 00-19-40l-4.5 2.3z"/>
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M39.8 49.5l29.1 29-29.1 29.2-29.2-29.1z"/>
        <circle cx="39.8" cy="78.6" r="11" stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M39.8 70.1v17M48.3 78.6h-17"/>
      </svg>
      <svg v-else-if="element === 'fire' && level === 8" class="monster" key="fire-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 107 108">
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M52.4 92.2l23.4-11.3 5.8-25.4L65.4 35h-26L23 55.5 29 80.9l23.5 11.3zM10.2 28.2l26 10.8L26.3 51 10.2 28.2zM52.4 7.5l7.8 27H44.6l7.8-27zM94.6 28.2L68.6 39 78.4 51l16.2-22.9z"/>
        <circle cx="52.4" cy="62.9" r="11" stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M103.5 81.9L86.4 99M103.5 99L86.4 82M21.2 2.5l-10 10M21.2 12.5l-10-10M16.2 92.7L3.5 105.4M16.2 105.4L3.5 92.7"/>
      </svg>
      <svg v-else-if="element === 'fire' && level === 9" class="monster" key="fire-9" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 111 114">
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M104.2 81.1c1 .3 1.9.7 2.6 1.4.6.6 1.1 1.5 1.3 2.3.2 1 .1 1.8-.2 2.7-.4.8-1 1.6-1.8 2.1-.8.6-1.7.9-2.7 1-1 0-2 0-3-.5-.8-.4-1.6-1-2.1-1.8-.5-.7-.8-1.6-.8-2.5V74.2M18.9 53.4c-1 .2-1.9.7-2.6 1.4-.7.6-1.1 1.4-1.3 2.3-.2 1-.1 1.8.2 2.7.4.8 1 1.6 1.8 2.1.8.6 1.7.9 2.7 1 1 0 2-.1 3-.5.8-.4 1.6-1 2-1.8.6-.7.9-1.6.9-2.5v-4.7M25.6 53.4h46v58h-46zM80.5 74.2h17v37.3h-17z"/>
        <path fill="#BFAF8A" d="M51 3.2L53.4 2a2.5 2.5 0 00-4.7 1.1H51zm-11.7 14l1.8-1.7a2.5 2.5 0 00-4 .7l2.2 1zm9.3-14c-.2 4-1 7.6-2.3 10-1.3 2.6-2.6 3.3-3.4 3.3v5c3.7 0 6.3-2.9 7.9-6 1.6-3.2 2.6-7.6 2.8-12.3h-5zm-5.7 13.3c-.4 0-1-.2-1.8-1L37.5 19a7.6 7.6 0 005.4 2.5v-5zm-5.6 14.8c0-1 .4-2.8 1.2-5.2.8-2.4 1.9-5 3.1-7.9l-4.6-2c-1.2 2.9-2.4 5.8-3.2 8.3-.8 2.5-1.5 5-1.5 6.8h5zm11.3 11.2c-6.2 0-11.3-5-11.3-11.2h-5c0 9 7.3 16.2 16.3 16.2v-5zm11.2-11.2c0 6.2-5 11.2-11.2 11.2v5c9 0 16.2-7.2 16.2-16.2h-5zm-11-27a249.9 249.9 0 0110 22.1c.7 2.3 1 4 1 4.9h5c0-1.8-.6-4.1-1.3-6.4A254.8 254.8 0 0053.3 2l-4.5 2.2z"/>
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M89.4 66.7s-6.6-1.8-6.6-8c0-6.1 6.6-7.9 6.6-7.9s6.5 1.8 6.5 8c0 6.1-6.5 7.9-6.5 7.9zM3.4 85.9h13.2v25.6H3.4zM10 78.5s-5-1.3-5-5.9c0-4.6 5-6 5-6s4.9 1.4 4.9 6-5 6-5 6zM48.6 38.4s-5-1.3-5-5.9c0-4.6 5-6 5-6s4.9 1.4 4.9 6-5 6-5 6zM44.6 92.8L31 100.6V85l13.5 7.8zM52.6 92.8l13.5 7.8V85l-13.5 7.8zM48.6 76.1v6.3"/>
      </svg>
      <svg v-else-if="element === 'earth' && level === 1" class="monster" key="earth-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 52 64">
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M3 3h46v58H3z"/>
        <circle cx="26" cy="46" r="4" stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M41 46s-4 8-15 8-15-8-15-8 4-8 15-8 15 8 15 8z"/>
      </svg>
      <svg v-else-if="element === 'earth' && level === 2" class="monster" key="earth-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 66 91">
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M33.3 3.2l30 21.8-11.5 35.2h-37L3.3 25l30-21.8z"/>
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M44.3 33.2a11 11 0 11-22 0h22zM50.8 32.7h-35M33.3 87.8l7.8-27H25.5l7.8 27z"/>
      </svg>
      <svg v-else-if="element === 'earth' && level === 3" class="monster" key="earth-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 118 103">
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M55.6 79.2L79 68l5.8-25.3-16.2-20.4h-26L26.3 42.6l5.8 25.3 23.5 11.3zM12.9 3.4l10 5.8v11.5l-10 5.7-10-5.7V9.2l10-5.8zM104.7 56.2l10 5.8v11.5l-10 5.7-10-5.7V62l10-5.8zM27.2 82.9l7.4 4.3v8.5l-7.4 4.3-7.5-4.3v-8.5l7.5-4.3zM55.6 47.7v17M64.1 56.2h-17"/>
      </svg>
      <svg v-else-if="element === 'earth' && level === 4" class="monster" key="earth-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 116 106">
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M53.2 103.3c-19.6 0-35.5-3.4-35.5-22.8a35.3 35.3 0 0135.5-35.2 35.3 35.3 0 0135.5 35.2c0 19.4-16 22.8-35.5 22.8zM69 31.6a6.7 6.7 0 1110.6-1.4L69.4 47.8"/>
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M100.2 31.4a9 9 0 0011.5-7.2A9.5 9.5 0 0098 14.6c-1.7.8-2.9 2-3.7 3.5L75.2 51.2"/>
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M93.5 45.9c.8.2 1.7.2 2.5 0a4 4 0 002-1.2c.6-.5 1-1.3 1-2 .1-.8 0-1.7-.4-2.4a5.1 5.1 0 00-4-2.8 4 4 0 00-4.1 2l-9 15.3M37.3 35.3a5.4 5.4 0 10-8.5-1.2L37 48.4M12.2 35.1c-1.4.4-2.8.4-4.2 0A7.3 7.3 0 013 29.3c-.2-1.3 0-2.7.5-4A7.7 7.7 0 0114 21.5c1.3.6 2.3 1.6 3 2.7l15.5 26.9"/>
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M17.5 46.8c-.6.2-1.3.2-2 0-.6 0-1.2-.4-1.6-.9a3 3 0 01-.8-1.7c-.1-.6 0-1.3.3-2a4.1 4.1 0 013.3-2.3c.6 0 1.3.1 2 .4.5.3 1 .7 1.3 1.3L27.2 54M71.2 78.9h-35"/>
      </svg>
      <svg v-else-if="element === 'earth' && level === 5" class="monster" key="earth-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 109 88">
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M18.6 42.6c0-16 13-29 29-29h13c16 0 29 13 29 29v29h-71v-29zM27 85.4L35 71.9H19.3L27 85.4zM45 85.4L53 71.9H37.3L45 85.4zM63 85.4L71 71.9H55.3L63 85.4zM81 85.4L89 71.9H73.3L81 85.4z"/>
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M30.5 18.4A50.2 50.2 0 015.3 5.8c4 10.8 6.8 16.3 14.6 24l10.6-11.4zM77.9 18.4A50.2 50.2 0 00103 5.8a54.4 54.4 0 01-14.5 24L77.9 18.4z"/>
        <circle cx="39.1" cy="44.1" r="5" stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
        <circle cx="69.1" cy="44.1" r="5" stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
      </svg>
      <svg v-else-if="element === 'earth' && level === 6" class="monster" key="earth-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 99 105">
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M49.3 72.6c19.6 0 35.5-3.4 35.5-22.8a35.3 35.3 0 00-35.5-35.2 35.3 35.3 0 00-35.5 35.2c0 19.4 16 22.8 35.5 22.8zM40 72.6h18.7s14 19 4 25.6a24.7 24.7 0 01-26.7 0c-10-6.6 4-25.6 4-25.6z"/>
        <circle cx="49.3" cy="44.6" r="5" stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
        <circle cx="49.3" cy="44.6" r="11" stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M81.3 78L81 65l-11.2 6.7 11.4 6.4zM96.1 57.2l-9.7-8.8-2.7 12.8 12.4-4zM94 33.3L81.3 31l4.5 12.2 8.4-10zM81 13.8l-12.4 4.1 9.8 8.7L81 13.8zM59.4 3.3L51 13.2l12.8 2.4-4.4-12.3zM36.1 4.1l-3 12.7L45.7 13 36.1 4zM16.4 16l3.4 12.6 9.2-9.2L16.4 16zM3.9 35.2l9 9.4 3.7-12.5-12.7 3zM2.5 58.2l12.4 4-2.7-12.8-9.7 8.8zM18.2 79l11.4-6.3L18.4 66l-.2 13z"/>
      </svg>
      <svg v-else-if="element === 'earth' && level === 7" class="monster" key="earth-7" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 119 133">
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M74 41.7l14.6 25.1L74 91.9H45L30.6 66.8 45 41.7h29z"/>
        <circle cx="59.6" cy="14.4" r="11" stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
        <circle cx="104.8" cy="41.2" r="11" stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
        <circle cx="104.8" cy="92.1" r="11" stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
        <circle cx="59.6" cy="119.2" r="11" stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
        <circle cx="13.9" cy="92.1" r="11" stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
        <circle cx="13.9" cy="41.2" r="11" stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
        <circle cx="59.6" cy="66.8" r="11" stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M59.6 58.3v17M68.1 66.8h-17"/>
      </svg>
      <svg v-else-if="element === 'earth' && level === 8" class="monster" key="earth-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 100 88">
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M38.6 73.1L9.4 44l29.2-29.1 29 29zM74 75.5L61.8 63.2 74 51l12.3 12.2zM89 51.8L81.2 44l7.8-7.8 7.8 7.8zM6.4 8.5L31 22.1l-11 11L6.4 8.5zM70 7.3L45.6 21l11 11L70.1 7.3zM78.7 73.1a32.9 32.9 0 0115.7 9.6c-2-7.3-3.5-11-8.1-16.5l-7.6 6.9zM71.6 74.2A32.9 32.9 0 0055.9 84c2-7.3 3.5-11 8.1-16.6l7.6 7z"/>
        <circle cx="38.5" cy="47.1" r="11" stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
      </svg>
      <svg v-else-if="element === 'earth' && level === 9" class="monster" key="earth-9" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 124 114">
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M65 3.3l42.6 31-16.3 50.2H38.6L22.3 34.3 65 3.3z"/>
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M65 93l42.6-31L91.3 12H38.6L22.3 62 65 93z"/>
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M61 53.8l-13.5 7.8V46L61 53.8zM69 53.8l13.5 7.8V46L69 53.8zM65 46L72.4 33H57.6L65 45.9zM96 111l7.8-13.4H88.2L96 111zM11.1 18.1L19 4.6H3.3l7.8 13.5zM113.2 21.3L121 7.8h-15.6l7.8 13.5z"/>
      </svg>
      <svg v-else-if="element === 'water' && level === 1" class="monster" key="water-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 114 119">
        <circle cx="55" cy="72.9" r="29" stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
        <circle cx="14.1" cy="40.2" r="10.6" stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
        <circle cx="94.6" cy="105.7" r="10.6" stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
        <circle cx="45.1" cy="21.9" r="6.1" stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
        <circle cx="105.3" cy="77.9" r="6.1" stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
        <circle cx="21.7" cy="9.6" r="6.1" stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M65.2 67.5v17M44.3 67.5v17"/>
      </svg>
      <svg v-else-if="element === 'water' && level === 2" class="monster" key="water-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 77 75">
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M38.5 61C58.1 61 74 57.6 74 38.2 74 18.7 38.5 3 38.5 3S3 18.7 3 38.2C3 57.6 18.9 61 38.5 61zM26.5 34.5v11M32 40H21M50.5 34.5v11M56 40H45M38.5 72l7-10.5h-14l7 10.5z"/>
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M60.3 69.8l4-12-13.4 3.6 9.4 8.4zM16.7 69.8l9.4-8.4-13.4-3.6 4 12z"/>
      </svg>
      <svg v-else-if="element === 'water' && level === 3" class="monster" key="water-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 90 119">
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M44.7 3l35.1 57.7H9.7L44.7 3z"/>
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M44.7 50l7.8-13.5H37L44.7 50zM64.6 90a14 14 0 015.1 19.2l-3.5 6M64.6 90a14 14 0 01-5.1-19l5.8-10M43.6 90a14 14 0 015.1 19.2l-3.5 6M43.6 90a14 14 0 01-5.1-19l5.8-10M22.6 90a14 14 0 015.1 19.2l-3.5 6M22.6 90a14 14 0 01-5.1-19l5.8-10"/>
      </svg>
      <svg v-else-if="element === 'water' && level === 4" class="monster" key="water-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 77 103">
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M3 32.2c0-16 13-29 29-29h13c16 0 29 13 29 29v29H3v-29zM29.2 61.2h18.7s14 24.8 4 33.5a20 20 0 01-26.7 0c-10-8.7 4-33.5 4-33.5zM38.5 61.2v24.2M21 25.8v17M56 25.8v17M56 34.8H21"/>
      </svg>
      <svg v-else-if="element === 'water' && level === 5" class="monster" key="water-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 128 113">
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M97.8 31.8c0-16-13-29-29-29h-13c-16 0-29 13-29 29v17a12 12 0 0012 12h47a12 12 0 0012-12v-17zM100.4 76.7a10 10 0 11-9 13L82 60.9M114.1 46.4a7.2 7.2 0 11-2.7 11l-13.6-17M19.7 78.8a10 10 0 1010.4 12l6-30M12.2 43a6.1 6.1 0 101 9.7l13.6-13M54.2 93.2a9.6 9.6 0 00-3.6 3.7 9.2 9.2 0 00.7 9.8c1 1.4 2.5 2.5 4.1 3.1a9.7 9.7 0 0012.8-6.1 9 9 0 000-5.1L57.6 60.8"/>
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M58.3 34.9l-13.5 7.8V27l13.5 7.8zM66.3 34.9l13.5 7.8V27l-13.5 7.8z"/>
      </svg>
      <svg v-else-if="element === 'water' && level === 6" class="monster" key="water-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 129 113">
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M97 17.1c16 0 29 13 29 29v13c0 16-13 29-29 29H68v-71h29zM42.4 91.1a14 14 0 01-14 14h-7M42.4 91.1a14 14 0 0114-14H68M42.7 42.7a16.1 16.1 0 0016 16h8.1M42.7 42.7a16.1 16.1 0 00-16.1-16.1H13.3M53.4 17.5a9.7 9.7 0 009.7 9.7h4.8M53.4 17.5a9.7 9.7 0 00-9.7-9.7h-8"/>
        <circle cx="30.7" cy="7.8" r="5" stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
        <circle cx="8.3" cy="26.6" r="5" stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
        <circle cx="16.4" cy="105.1" r="5" stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
        <circle cx="81.9" cy="52.6" r="5" stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
        <circle cx="111.9" cy="52.6" r="5" stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
        <circle cx="96.9" cy="37.6" r="5" stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" transform="rotate(90 97 37.6)"/>
        <circle cx="96.9" cy="67.6" r="5" stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" transform="rotate(90 97 67.6)"/>
      </svg>
      <svg v-else-if="element === 'water' && level === 7" class="monster" key="water-7" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 86 86">
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M42.7 61.2c-19.6 0-35.5-3.4-35.5-22.8A35.3 35.3 0 0142.7 3.2a35.3 35.3 0 0135.5 35.2c0 19.4-15.9 22.8-35.5 22.8z"/>
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M59.7 61.2a50.2 50.2 0 0118.5 21.1c.5-11.5-.1-17.7-4.4-27.7l-14.1 6.6zM26 61.2A50.2 50.2 0 007.6 82.3c-.4-11.5.2-17.7 4.5-27.7l14 6.6zM49.2 72.7l6.2-10.9H43l6.3 10.9zM36.3 72.7l6.2-10.9H30l6.3 10.9zM22.7 26.2h40v22h-40z"/>
        <circle cx="42.7" cy="37.2" r="5" stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5"/>
      </svg>
      <svg v-else-if="element === 'water' && level === 8" class="monster" key="water-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 124 107">
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M87.3 49a14 14 0 0014 14h7M87.3 49a14 14 0 00-14-14H61.8M75.7 63a14 14 0 0014 14h7M61.7 49a14 14 0 0114 14M38.5 13L67.6 42 38.5 71.3 9.3 42zM30.9 19.6A50.2 50.2 0 016.3 6c3.4 11 6.1 16.6 13.6 24.6l11-11zM38.5 33.6v17M47 42.1H30M60.2 68.7l-2.8 17.5 14-4.5L70 99M67.7 22.3h16l-6-12 15.7-1.2M95.9 87.4l.3 10.3 7.5-4.2 1.2 10M102.3 40.7l9.3 4.4-.3-8.6 9.5 3.6"/>
      </svg>
      <svg v-else-if="element === 'water' && level === 9" class="monster" key="water-9" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 109 92">
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M34.5 58.2a50.2 50.2 0 00-28 2.2A54.4 54.4 0 0129 43.6l5.5 14.6zM74 58.2c11.6-2 17.6-1.1 28 2.2a54.4 54.4 0 00-22.4-16.8L74 58.2zM58 39.5l12.3 7.1V32.4l-12.4 7zM50.6 39.5l-12.3 7.1V32.4l12.3 7zM54.3 32.3l-6.8-11.7H61l-6.7 11.7z"/>
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M54.3 4.7l-30 21.7 11.5 35.3h37l11.4-35.3-30-21.7zM51.6 61.8c-5.9 10-7.2 16-7.8 27a54.4 54.4 0 01-7.8-27h15.6zM57 61.8c5.8 10 7.2 16 7.7 27 5.4-10.3 7.4-16.1 7.8-27H57zM21.6 69.6c-.8-.2-1.7-.2-2.5 0s-1.5.6-2 1.2c-.6.6-1 1.4-1 2.2-.1.8 0 1.6.4 2.4a5.2 5.2 0 004.1 2.8c1 0 1.8 0 2.5-.4a4 4 0 001.7-1.7l8.8-15.8M89.8 73.2c1.2-.3 2.3-.3 3.4 0a5.1 5.1 0 014 4.5 6.6 6.6 0 01-2.8 5.7c-1 .6-2.2 1-3.3 1a6 6 0 01-3.2-.5c-1-.5-1.8-1.2-2.3-2.1L74.1 61"/>
        <path stroke="#BFAF8A" stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M54.3 79.9L49 62h10.3l-5.1 17.8zM32 20.1L30 4.7l14.4 6L32 20zM76.2 20.1l2-15.4-14.4 6L76.2 20z"/>
      </svg>
    </transition>
  </div>
</template>

<script>
export default {
  data() {
    return {
      element: 'air',
      level: 9,
    };
  },
  methods: {
    chooseMonster() {
      const element = Math.floor(Math.random() * 4);
      this.level = Math.floor(Math.random() * 9) + 1;
      this.element = ['fire', 'earth', 'water', 'air'][element];
    },
  },
  props: {
    visible: Boolean,
  },
  watch: {
    visible(nv) {
      if (nv) this.interval = window.setInterval(this.chooseMonster, 2500);
      else window.clearInterval(this.interval);
    },
  },
};
</script>

<style lang="stylus" scoped>
.magistan-monsters
  display: flex
  align-items: center
  justify-content: center
  perspective: 1000px

  svg
    display: block
    height: 100%
    position: relative
    z-index: 1

    &.circle,
    &.card
      position: absolute

    &.card
      &.v-enter-active,
      &.v-leave-active
        transition: transform 150ms ease-in

        &.v-enter
          transform: rotateY(90deg)

        &.v-leave-to
          transform: rotateY(-90deg)

      &.v-enter-active
        transition-timing-function: ease-out

    &.monster
      max-width: 35%
      max-height: 45%

      &.v-enter-active,
      &.v-leave-active
        transition: transform 200ms ease, opacity 200ms ease

        &.v-enter,
        &.v-leave-to
          opacity: 0
          transform: translateX(-10%)

        &.v-enter
          transform: translateX(10%)
</style>
