<template lang="html">
  <div class="prt-mny-loader">
    <div class="prt-loader" :style="{ width: `${size}px`, height: `${size}px` }">
      <div class="waveBg" :style="{transitionDuration: `${duration + (duration / 6)}s`, backgroundPosition: dynamicBGPositionBG}" />
      <div class="waveFg" :style="{transitionDuration: `${duration}s`, backgroundPosition: dynamicBGPositionFG}" />
      <img alt="anchor" class="anchor" src="@/assets/images/showcase/PrtMnyLoader/anchor.svg">
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    dynamicBGPositionBG() {
      return this.visible ? '0px 0px' : `${this.size * (this.duration / 6) * 5}px ${this.size * 1.2109375}px`;
    },
    dynamicBGPositionFG() {
      return this.visible ? `${this.size * (this.duration / 6) * 8}px 0px` : `0px ${this.size * 1.1484375}px`;
    },
  },
  data() {
    return {
      duration: 4,
      size: null,
    };
  },
  mounted() {
    this.$nextTick(() => {
      const oneRem = Number.parseInt(window.getComputedStyle(document.documentElement).fontSize, 10);
      this.size = Math.min(this.$el.offsetHeight - (2 * oneRem), 128);
    });
  },
  props: {
    visible: Boolean,
  },
};
</script>

<style lang="stylus">
.prt-mny-loader
  display: flex
  align-items: center
  justify-content: center
  background-color: rgb(235,245,238)
  padding: 1rem
  overflow: hidden
  border-radius: (12 / 16)rem

  .prt-loader
    overflow: hidden
    background-color: white
    border-radius: 50%
    position: relative

    img
      display: block

    .anchor
      height: 70%
      margin: auto
      margin-top: 15%
      position: relative
      z-index: 1

    .waveBg,
    .waveFg
      background-repeat: repeat-x
      background-size: 100%
      background-position: 0px 0px
      width: 100%
      height: 114.375%
      position: absolute
      bottom: 0
      transition: background-position 6s ease-out

    .waveBg
      background-image: url('~@/assets/images/showcase/PrtMnyLoader/wave_bg.svg');
      transition-duration: 7s

    .waveFg
      background-image: url('~@/assets/images/showcase/PrtMnyLoader/wave_fg.svg');
</style>
