<template lang="html">
  <div class="page-wrapper">
    <Nav v-if="$route.path !== '/'" />
    <noscript class="no-js">It looks like you have JavaScript disabled. This site will work without it, but your experience might be better if you enable JavaScript. If you are worried about your data, please check my <a href="/legal/#privacy">privacy policy</a> for details on how I collect as little data as possible.</noscript>
    <router-view :key="$route.fullPath" />
    <SectionSeparator />
    <Footer id="contact" />
    <transition name="transitioner" @before-leave="$root.$emit('triggerScroll')">
      <div v-show="showTransitioner" class="transitioner">
        <Loader v-show="loading" no-color />
      </div>
    </transition>
  </div>
</template>

<script>
import Footer from '@/components/Footer.vue';
import Loader from '@/components/Loader.vue';
import Nav from '@/components/Nav.vue';
import SectionSeparator from '@/components/SectionSeparator.vue';

export default {
  components: {
    Footer,
    Loader,
    Nav,
    SectionSeparator,
  },
  data() {
    return {
      loading: false,
      loadingTimeout: null,
      showTransitioner: false,
    };
  },
  metaInfo() {
    return {
      title: this.$static.metadata.siteName,
      link: [
        {
          rel: 'canonical',
          href: `${this.$static.metadata.siteUrl}${this.$route.path}`,
        },
      ],
      meta: [
        {
          key: 'description',
          name: 'description',
          content: this.$static.metadata.siteDescription,
        },
        {
          name: 'viewport',
          content: 'width=device-width, initial-scale=1',
          key: 'viewport',
        },
        {
          property: 'og:site_name',
          content: this.$static.metadata.siteName,
        },
        {
          property: 'og:description',
          content: this.$static.metadata.siteDescription,
          key: 'og:description',
        },
        {
          property: 'og:url',
          content: this.$static.metadata.siteUrl,
          key: 'og:url',
        },
        {
          name: 'twitter:card',
          content: 'summary',
          key: 'twitter:card',
        },
        {
          property: 'og:image',
          content: `${this.$static.metadata.siteUrl}/twitterimg.png`,
          key: 'og:image',
        },
      ],
    };
  },
  mounted() {
    if ('scrollRestoration' in window.history) window.history.scrollRestoration = 'manual';
    this.$router.beforeEach((to, from, next) => {
      this.loadingTimeout = window.setTimeout(() => { this.loading = true; }, 1000);
      this.showTransitioner = true;
      window.setTimeout(next, 250);
    });

    this.$router.afterEach(() => {
      window.clearTimeout(this.loadingTimeout);
      this.loadingTimeout = null;
      if (this.loading) this.loading = false;
      window.setTimeout(() => { this.showTransitioner = false; }, 250);
    });
  },
};
</script>

<static-query>
query {
  metadata {
    siteName,
    siteDescription,
    siteUrl
  }
}
</static-query>

<style lang="stylus">
@require './assets/styles/colors'

.page-wrapper
  display: flex
  flex-direction: column
  min-height: 100vh

  .page-enter-active
    animation: wipe-enter 0.5s ease

  .page-leave-active
    animation: wipe-leave 0.5s ease

  @keyframes wipe-enter
    from
      clip-path: inset(0 100% 0 0)
    to
      clip-path: inset(0)

  @keyframes wipe-leave
    from
      clip-path: inset(0)
    to
      clip-path: inset(0 0 0 100%)

  .no-js
    background-color: $bg-darker
    padding: 1rem
    font-size: 1rem
    line-height: 1.5
    text-align: center

  .beta-banner
    padding: 1rem
    background-color: $text
    color: $bg
    text-align: center

    > p
      max-width: 40rem
      font-size: 1rem
      margin-bottom: 0

  .footer
    flex-shrink: 0
    // work around anti aliasing seam, breaks sticky footer
    margin-top: -1px
    position: relative
    z-index: 1
    // end workaround

  .transitioner
    position: fixed;
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: $accent-primary
    z-index: 2
    display: flex
    align-items: center
    justify-content: center

    &.transitioner-enter-active
      animation: wipe-enter 0.25s ease

    &.transitioner-leave-active
      animation: wipe-leave 0.25s ease

    .loader
      height: 8rem
</style>
