@require './breakpoints'
@require './colors'

*
  box-sizing: border-box

html,
body
  padding: 0
  margin: 0
  background-color: $bg
  font-family: 'Inter', sans-serif
  font-size: 16px
  font-feature-settings: 'salt' on, 'ordn' on
  color: $text
  hyphens: auto

  ::selection
    background-color: $accent-secondary

  p
    font-size: 1.125rem
    line-height: 178%
    margin: 0 auto 1rem auto
    max-width: 37.5rem

  pre, code
    font-family: 'Roboto Mono', 'ui-monospace', 'Courier New', Courier, monospace
    font-size: 1rem
    font-feature-settings: initial

  ul,
  ol
    max-width: 37.5rem
    margin: 2rem auto
    font-size: 1.125rem
    line-height: 178%
    padding-left: 1.5rem

  a
    color: $accent-primary
    font-weight: bold
    text-decoration: none
    display: inline-block
    position: relative

    &::selection
      color: $text

    &::after
      content: ''
      display: block
      height: 2px
      width: 100%
      background-color: currentColor
      position: absolute
      bottom: 2px
      transform: scaleX(0)
      transform-origin: right
      transition: transform 200ms ease

    &:hover, &:focus
      color: darken($accent-primary, 10)

      &::after
        transform: scaleX(1)
        transform-origin: left

    &:focus
      outline: none

  hr
    display: block
    height: 0.25rem
    border: none
    background-color: $accent-secondary
    max-width: 8rem
    margin: 3rem auto

  table
    max-width: 37.5rem
    margin: 3rem auto
    font-size: 1.125rem
    border-collapse: collapse

    thead
      background-color: $bg-darker

    td,
    th
      border: 1px solid $bg-darker
      border-color: darken($bg-darker, 10)
      padding: 1rem 2rem

    tr:nth-child(even)
      background-color: lighten($bg-darker, 2)

  nav
    text-align: right
    padding: 3rem

    @media $bp-mobile
      padding: 1.5rem
      text-align: center

    a
      display: inline-block
      text-align: left
      padding: 1.125rem 2rem
      background-color: $accent-primary
      color: $bg
      border-radius: 1.5rem
      font-size: 1rem
      text-transform: uppercase
      letter-spacing: 0.12em
      position: relative
      transform-style: preserve-3d
      perspective: 1000px // fix flicker in firefox
      backface-visibility: hidden
      transition: transform 200ms ease

      &::after
        content: ''
        display: block
        background-color: $text
        border-radius: inherit
        position: absolute
        top: 1px
        left: 1px
        right: 1px
        bottom: 1px
        width: calc(100% - 2px)
        height: @width
        transform: translate3d(0, 0, -1px)

      &:hover,
      &:focus
        color: $bg
        transform: translate(-1rem, -1rem)

        &::after
          transform: translate3d(1rem, 1rem, -1px)

  .mobile-only
    @media $bp-desktop
      display: none !important

  .desktop-only
    @media $bp-mobile
      display: none !important
